<!DOCTYPE html>
<html lang="en">
<!-- /read_matches_and_request_match_data -->
<!-- /update_when_to_send_recieve -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./vue@3.2.36.global.prod.js"></script>
    <script src="./peerjs.1.5.2.min.js"></script>
    <!-- <script src="./qrcode.js"></script> -->
    <style>
        .own, .another {
            font-size: 2rem;
        }
    </style>
</head>
<body>
<div id="app">
    <div>
        <div class="own">own</div>
        <div v-for="(value, key) in own" :key="key">
            {{ key }}: {{ value }}
        </div>
    </div>
    <div>
        <div class="another">another</div>
        <div v-for="(value, key) in another" :key="key">
            {{ key }}: {{ value }}
        </div>
    </div>
    <div id="qrcode"></div>
    <a href="" id="url_with_peer_id">url_with_peer_id</a>
    <p>サーバーサイドのコードは https://glitch.com/edit/#!/cypress-serious-bird?path=server.js</p>
    <p>参考にしたコードは https://glitch.com/~peerjs-video</p>
    <button @click="send_text_fn()">send_text_fn param sample</button>
    <button @click="send_text_fn('FOOOOOOOOOOOO')">send_text_fn my text</button>
    <div class="random_message"></div>
    <p>このURL(https://taroyanaka.github.io/peerjs_webrtc/client3.html)2枚のタブで別々に開く。片方に表示されたpeer id Aの英数文字列を、もう片方のタブのPeer ID BのinputにコピペしてConnect Bをクリック</p>
    peer id A<input class="result" type="text">
    <input id="connect-to-peer" type="text" placeholder="Peer ID B">
</div>
</body>
<script>
let global_conn = null;
let global_peerId = null;
let hoge = null;
let fuga = null;

const app = Vue.createApp({
data() {
return {
    my_user_id: null,
    receive_matched: null,
    matched: null,
    other_side_data_link: '',
    endpoint: 'http://localhost:8000',
    // endpoint: 'https://cotton-concrete-catsup.glitch.me',
    own: {
        user_data_id: 5,
        user_name: 'a',
        weight_num: 1,
        user_type: 'company',
        offline_online: 1,
        skills_id_array: 12,
        skills: [
            {id: 1, skill: 'STR'},
            {id: 2, skill: 'STR2'},
        ],
    },
    another: {
        user_data_id: 6,
        user_name: 'B',
        weight_num: 1,
        user_type: 'customer',
        offline_online: 1,
        skills_id_array: 12,
        skills: [
            {id: 1, skill: 'STR'},
            {id: 2, skill: 'STR2'},
        ],
    },

}
},
watch: {
// any_array: {
//         handler(new_val, old_val) {
//     },
//     deep: true
// },
},
mounted() {
    this.get_param();
    this.fetch_read_matches();
},
beforeUpdated() {},
updated() {},
methods: {
send_text_fn(Text="sample_text"){
    console.log("send_text_fn");
    send_text(Text);
},
to_ary(from){
    return JSON.parse(JSON.stringify(from));
},
parse_url(){
    const url = new URL(window.location.href);
    const other_side_data_str = url.searchParams.get('other_side_data_str');
    const own_side_data_str = url.searchParams.get('own_side_data_str');
    if (other_side_data_str){
        console.log("other_side_data_str", other_side_data_str);
        console.log(JSON.parse(other_side_data_str));
    }
    if (own_side_data_str){
        console.log("own_side_data_str", own_side_data_str);
        console.log(JSON.parse(own_side_data_str));
    }
},
get_param(){
    // get_paramでは、下記のURLをそれぞれのinput:textに代入される
    // http://localhost:8000/client5.html?own={"user_data_id":5,"user_name":"a","weight_num":1,"user_type":"company","offline_online":1,"skills_id_array":"12","skills":[{"id":12,"skill":"D","created_at":"2024-03-27T09:01:28.504Z","updated_at":"2024-03-27T09:01:28.504Z"}]}&another={"user_data_id":6,"user_name":"B","weight_num":1,"user_type":"customer","offline_online":1,"skills_id_array":"12"}
    this.own = JSON.parse(new URL(window.location.href).searchParams.get('own'));
    // this.own = new URL(window.location.href).searchParams.get('own');
    // this.another = decodeURIComponent(new URL(window.location.href).searchParams.get('another'));
    // this.another = new URL(window.location.href).searchParams.get('another');
    // this.own = decodeURIComponent(new URL(window.location.href).searchParams.get('own'));
    this.another = JSON.parse(new URL(window.location.href).searchParams.get('another'));

    // &before_recieve=true ならば fetch_update_when_to_send_recieveを実行
    if(new URL(window.location.href).searchParams.get('before_recieve') === 'true'){
        console.log("before_recieve");
    }

},
async fetch_update_when_to_send_recieve(Match_Id){
try {
    const res = await fetch(this.endpoint + '/update_when_to_send_recieve', {method: 'POST',headers: {'Content-Type': 'application/json',},
            body: JSON.stringify({match_id: Match_Id}),
        });
    const data = await res.json(); console.log(data);
    this.ERROR_MESSAGE = "";
} catch (error) {
    this.ERROR_MESSAGE = error.message;
}
},

// read_matchesをfetchする関数
async fetch_read_matches(){
    const response = await fetch(this.endpoint + '/read_matches');
    const data = await response.json();
    if(data.message){
        hoge = data.message[0];
        fuga = decodeURIComponent(hoge.match_data);
        this.matched = data.message;
    }
    return data;
},

async fetch_read_matches_and_request_match_data(){
try {
    console.log("my_user_id1", this.my_user_id);
    const res = await fetch(this.endpoint + '/read_matches_and_request_match_data', {method: 'POST',headers: {'Content-Type': 'application/json',},
            body: JSON.stringify({user_id: this.my_user_id}),
        });
    console.log("my_user_id1.5", this.my_user_id);
    const data = await res.json(); console.log(data);
    console.log("my_user_id2", this.my_user_id);
    // const data = await res.json(); console.log(data);
    console.log("my_user_id3", this.my_user_id);
    this.receive_matched = data.message;
    console.log("my_user_id4", this.my_user_id);
    this.ERROR_MESSAGE = "";
} catch (error) {
    this.ERROR_MESSAGE = error.message;
}
},    




// exe_update
// app.post('/update_when_to_send_recieve', (req, res) => {
        // const match_id = req.body.match_id;
async exe_update(Match_Id){
    try {
        console.log("exe_update1", Match_Id);
        const res = await fetch(this.endpoint + '/update_when_to_send_recieve', {method: 'POST',headers: {'Content-Type': 'application/json',},
                body: JSON.stringify({match_id: Match_Id}),
            });
        console.log("exe_update2", Match_Id);
        const data = await res.json(); console.log(data);
        console.log("exe_update3", Match_Id);
        // const data = await res.json(); console.log(data);
        console.log("exe_update4", Match_Id);
        this.receive_matched = data.message;
        console.log("exe_update5", Match_Id);
        this.ERROR_MESSAGE = "";
    } catch (error) {
        this.ERROR_MESSAGE = error.message;
    }
},





}}).mount('#app');


let url_with_peer_id = window.location.href;
const set_url_with_peer_id = () => {
    document.getElementById('url_with_peer_id').href =
        url_with_peer_id
         + '&peer_id_b=' + document.querySelector('.result').value;
}
const get_peer_id = () => {
    const url = new URL(window.location.href);
    const peer_id = url.searchParams.get('peer_id_b');
    if (peer_id){
        console.log("get id", peer_id);
        document.querySelector('#connect-to-peer').value = peer_id;
        connect_to_peer_for_call();
    }
}
document.addEventListener('DOMContentLoaded', get_peer_id);
let messagesEl = document.querySelector('.messages');
let videoEl = document.querySelector('.remote-video');
let renderVideo = (stream) => {
    document.querySelector('video').srcObject = stream;
};
let peer = new Peer({
    host: 'cypress-serious-bird.glitch.me',
    secure: true,
    path: '/peerjs/myapp'
});
peer.on('error', (error) => {
    console.error(error);
});
peer.on('call', (call) => {
    async function getMedia() {
        try {
            const stream = await navigator.mediaDevices.getUserMedia({video: true, audio: false});
            call.on('stream', renderVideo);
        } catch (err) {
            console.error('Failed to get local stream', err);
        }
    }
    getMedia();
});
let connect_to_peer_for_call = async () => {
    try {
    let peerId = document.querySelector('#connect-to-peer').value;
    const stream = await navigator.mediaDevices.getUserMedia({video: true, audio: false});
    let call = peer.call(peerId, stream);
    call.on('stream', renderVideo);
} catch (err) {
}
};
let my_side_global_conn = null;
let text_array = [];
peer.on('open', (id) => {
    document.querySelector('.result').value = id;
    my_side_global_conn = id;
    set_url_with_peer_id();
});
peer.on('connection', function(conn) {
    conn.on('data', function(data){
        console.log('Received', data);
        if (data.another_peer_id){
            console.log("new another_peer_id", data.another_peer_id);
            document.querySelector('#connect-to-peer').value = data.another_peer_id;
            global_peerId = data.another_peer_id;
        }
        if(data.random_message){
            console.log("random_message", data.random_message);
            text_array.push(data.random_message);
            document.querySelector('.random_message').textContent = text_array.join('\n');
        }
    });
function sendMessage(message) {conn.send(message)}
sendMessage('Hello, peer!');
});


let peer_id = null;


let first_send = true;
function send_text(Text="sample_text"){
    console.log("send_text");

    if(document.querySelector('#connect-to-peer').value === ''){
        document.querySelector('#connect-to-peer').value = (new URL(window.location.href).searchParams.get('peer_id_b'));
    }
    if(new URL(window.location.href).searchParams.get('peer_id_b')){
        peerId = new URL(window.location.href).searchParams.get('peer_id_b');
    }else{
        peerId = global_peerId;
    }
    if (!peerId) {
        console.error('Peer ID is not specified.');
        return;
    }

    let conn2 = peer.connect(peerId);

    conn2.on('open', function() {
        try {
            if(my_side_global_conn && first_send === true){
                conn2.send({another_peer_id: my_side_global_conn});
                first_send = false;
            }
            conn2.send({random_message: Text});
        } catch (err) {
            console.error('Failed to send message:', err);
        }
    });

    conn2.on('error', function(err) {
        console.error('Connection error:', err);
    });
}
</script>    
</html>