<!DOCTYPE html>
<html>
<head>
    <title>大富豪</title>
    <script src="./vue@3.2.36.global.prod.js"></script>
</head>
<style>
    h1{
        font-size: 0.5rem;
    }
    h2{
        font-size: 0.5rem;
    }
</style>
<body>
    <div id="app">
        <!-- change_revolution_button -->
        <button @click="revolution = !revolution">revolution button</button>
        <!-- revolution -->
        <h2>revolution: {{ revolution }}</h2>

        passed_players_index: {{ passed_players_index }}
        winner_player_ary: {{ winner_player_ary }}
        <button @click="human_play_card(true)">pass</button>

        <!-- human1 card length -->
        <!-- <span>{{ player_card[0].length }}</span><br><br> -->
        <!-- ai1 card length -->
        <!-- <span>{{ player_card[1].length }}</span><br> -->

        <!-- player_cardの残数をそれぞれのplayerの枚数表示 -->
        <div v-for="player, player_idx in player_name">
            <h2>{{ player }}: {{ player_card[player_idx].length }}</h2>
        </div>
        
        
        <button @click="startGame">ゲーム開始</button>
        <!-- this.field_cardをeachする -->
        <div v-for="card in field_card">
            <h2>{{ card }}</h2>
        </div>
        
<!-- playersのnameとcardをeachする -->
        <div v-for="player, player_idx in player_name">
            <h2>{{ player }}</h2>
            <div v-for="card in player_card[player_idx]">
                <h2>
                    {{ card }}
                    <button @click="human_play_card(false, card.id)">use</button>
                </h2>

            </div>
        </div>
    </div>

    <script>
function compare_by(operator) {
    switch (operator) {
        case '<':
            return (a, b) => a < b;
        case '>':
            return (a, b) => a > b;
        // 他の演算子に対するケースもここに追加できます
        default:
            throw new Error('Invalid operator');
    }
}
// console.log(compare_by('<')(1,2)); // true

        const app = Vue.createApp({
            data() {
                return {
                    winner_player_ary: [],
                    passed_players_index: [],
                    player_name: [],
                    player_card: [],
                    field_card: [],
                    deck: [],
                    revolution: false,
                }
            },
            mounted() {
                this.startGame();
            },
            methods: {
                get_card_idx(card_idx){
                    return this.current_card_idx = card_idx;
                },
                startGame() {
                    this.deck = this.shuffle(this.createDeck());
                    this.dealCards();
                },
                createDeck() {
                    const suits = ['Spades', 'Hearts', 'Diamonds', 'Clubs'];
                    // const ranks = Array.from({length: 13}, (_, i) => i + 1).concat('Joker');
                    const ranks = Array.from({length: 13}, (_, i) => i + 1);
                    return suits.flatMap(suit => ranks.map((rank,idx) => ({ rank, suit })));
                },
                shuffle(array) {
                    return array.sort(() => Math.random() - 0.5);
                },
                dealCards() {
                    // player_nameに全てのnameを入れる
                    // ['human1', 'ai1', 'ai2', 'ai3']
                    // this.player_name = ['human1', 'ai1', 'ai2', 'ai3'];
                    this.player_name = ['human1', 'ai1', 'ai2', 'ai3', 'ai4', 'ai5', 'ai6', 'ai7', 'ai8', 'ai9'];
                        // player_card[0]にhuman1のカードを入れる(cardにユニークなIDを付与する)
                        // player_card[1]にai1のカードを入れる
                        // player_card[2]にai2のカードを入れる
                        // player_card[3]にai3のカードを入れる
                        // sliceする数をplayer_nameのlengthで割った数(割り切れない場合は先頭から順に1枚ずつ配る)
                        const each_player_card_num_ary = [...Array(this.player_name.length).keys()].map(idx => Math.floor(this.deck.length / this.player_name.length) + (idx < this.deck.length % this.player_name.length ? 1 : 0));
                        // this.player_card[0] = this.deck.slice(0, 13).map((card, idx) => ({ ...card, id: this.player_name[0]+"_"+idx.toString() }));
                        // this.player_card[1] = this.deck.slice(13, 26).map((card, idx) => ({ ...card, id: this.player_name[1]+"_"+idx.toString() }));
                        // this.player_card[2] = this.deck.slice(26, 39).map((card, idx) => ({ ...card, id: this.player_name[2]+"_"+idx.toString() }));
                        // this.player_card[3] = this.deck.slice(39, 52).map((card, idx) => ({ ...card, id: this.player_name[3]+"_"+idx.toString() }));

                        // whileでthis.player_nameをeachして、player_cardにカードを配る
                            // player_nameの人数分配り終えたら終了する
                        while(this.player_name.length){
                            // player_nameの先頭の人にカードを配る
                            const player = this.player_name.shift();
                            // player_cardにカードを配る
                            this.player_card.push(this.deck.splice(0, each_player_card_num_ary.shift()).map((card, idx) => ({ ...card, id: player+"_"+idx.toString() })));
                            // player_nameの末尾にplayerを追加
                            this.player_name.push(player);
                            if(this.deck.length === 0){break;}
                        }

                        // player_cardをrankの値でソート
                        this.player_card = this.player_card.map(cards => cards.sort((a, b) => a.rank - b.rank));




                },



human_play_card(pass=false, CARD_ID="human1_0") {
// winner_player_aryに0が存在する場合はreturn
if(this.winner_player_ary.includes(0)){return;}


// passがtrueの場合はpassed_players_indexに0を追加
if(pass===true){this.passed_players_index.push(0)
    // passed_players_indexで一巡したか確認(自分以外が全員passした場合)
    if(this.passed_players_index.length === this.player_name.length - 1){
        // 勝ったplayerのidxを取得(passed_players_indexに存在しないplayerのidx)
        const winner_idx = this.player_name.findIndex((_, idx) => !this.passed_players_index.includes(idx));
        // 一巡した場合はfieldを空にしたあと、passed_players_indexを空にして、who_turnを更新
        this.field_card = [];
        this.passed_players_index = [];
        // winner_idxがaiの場合はai_play_cardを実行
        console.log(winner_idx);
        if(winner_idx !== 0){
            this.ai_play_card(winner_idx, this.player_name[winner_idx], false, this.player_name[winner_idx]+"_0");
        }
    }

};
if(pass===false){    
    // CARD_IDを指定してcardを選択
    const card = this.player_card[0].filter(card => card.id === CARD_ID)[0];
    console.log(card);
    // 8切り
    // if(this.field_card.length === 0 || this.field_card[this.field_card.length - 1].rank < card.rank){
    if(this.field_card.length === 0 || compare_by(this.revolution === true ? ">" : "<" )(this.field_card[this.field_card.length - 1].rank, card.rank) ){
        if(card.rank === 8){
            this.field_card.push(card);
            this.player_card[0] = this.player_card[0].filter(c => c.id !== CARD_ID);
            // this.player_card[AI_PLAYER_IDX]のlengthが0の場合は勝利(winner_player_aryにidxを追加)
            if(this.player_card[0].length === 0){
                this.winner_player_ary.push(0);
                console.log("human1の勝利");
            }
            this.field_card = [];
            this.passed_players_index = [];
            return;
        }
    }
    // this.field_cardがthis.field_cardにcardを追加
    // 追加条件としてthis.field_cardが[]か、this.field_cardの最後の要素がcardよりrankの値が小さい場合のみ追加
    // if(this.field_card.length === 0 || this.field_card[this.field_card.length - 1].rank < card.rank){
    if(this.field_card.length === 0 || compare_by(this.revolution === true ? ">" : "<" )(this.field_card[this.field_card.length - 1].rank, card.rank) ){
        this.field_card.push(card);
        // this.player_card[0]からcardを削除
        this.player_card[0] = this.player_card[0].filter(c => c.id !== CARD_ID);
            // this.player_card[AI_PLAYER_IDX]のlengthが0の場合は勝利(winner_player_aryにidxを追加)
            if(this.player_card[0].length === 0){
                this.winner_player_ary.push(0);
                console.log(ai_name + "の勝利");
            }
        this.passed_players_index = [];
    }
}
    // this.ai_play_card(1, "ai1", false, "ai1_0");
    // 全てのwinner_player_ary以外の全てのai_play_cardを実行
    this.player_name.forEach((player, idx) => {
        if(!this.winner_player_ary.includes(idx)){
            this.ai_play_card(idx, player, false, player+"_0");
        }
    });



},


// human_play_card()を自動で行う関数
ai_play_card(AI_PLAYER_IDX=1,ai_name="ai1",pass=false, card_id="ai1_0") {
// winner_player_aryにAI_PLAYER_IDXが存在する場合はreturn
if(this.winner_player_ary.includes(AI_PLAYER_IDX)){return;}




// let card = this.player_card[AI_PLAYER_IDX].reduce((a, b) => a.rank > b.rank ? a : b );
// field_cardの末尾よりrankが大きいcardの中からrandomで選ぶ
let card = null;
// fieldのcardがない場合はランダムで選ぶ
// field_cardの末尾よりrankが大きいcardがない場合はランダムで選ぶ
if(this.field_card.length === 0 || this.player_card[AI_PLAYER_IDX].filter(c => compare_by(this.revolution === true ? ">" : "<" )(this.field_card[this.field_card.length - 1].rank, c.rank)).length === 0){
    card = this.player_card[AI_PLAYER_IDX][Math.floor(Math.random() * this.player_card[AI_PLAYER_IDX].length)];
}else{
    card = this.player_card[AI_PLAYER_IDX].filter(c => compare_by(this.revolution === true ? ">" : "<" )(this.field_card[this.field_card.length - 1].rank, c.rank))[Math.floor(Math.random() * this.player_card[AI_PLAYER_IDX].filter(c => compare_by(this.revolution === true ? ">" : "<" )(this.field_card[this.field_card.length - 1].rank, c.rank)).length)];
}


// console.log(card);

// 8切り
// if(this.field_card.length === 0 || this.field_card[this.field_card.length - 1].rank < card.rank){
if(this.field_card.length === 0 || compare_by(this.revolution === true ? ">" : "<" )(this.field_card[this.field_card.length - 1].rank, card.rank) ){
    if(card.rank === 8){
        this.field_card.push(card);
        this.player_card[AI_PLAYER_IDX] = this.player_card[AI_PLAYER_IDX].filter(c => c.id !== card.id);
        // this.player_card[AI_PLAYER_IDX]のlengthが0の場合は勝利(winner_player_aryにidxを追加)
        if(this.player_card[AI_PLAYER_IDX].length === 0){
            this.winner_player_ary.push(AI_PLAYER_IDX);
            console.log(ai_name + "の勝利");
        }
        // 勝ったplayerのidxを取得(passed_players_indexに存在しないplayerのidx)
        const winner_idx = this.player_name.findIndex((_, idx) => !this.passed_players_index.includes(idx));
        // 一巡した場合はfieldを空にしたあと、passed_players_indexを空に
        this.field_card = [];
        this.passed_players_index = [];
        // winner_idxがaiの場合はai_play_cardを実行
        if(winner_idx !== 0){
            this.ai_play_card(winner_idx, this.player_name[winner_idx], false, this.player_name[winner_idx]+"_0");
        }
        return;
    }
}

// this.field_cardがthis.field_cardにcardを追加
// 追加条件としてthis.field_cardが[]か、this.field_cardの最後の要素がcardよりrankの値が小さい場合のみ追加
// if(this.field_card.length === 0 || this.field_card[this.field_card.length - 1].rank < card.rank){
if(this.field_card.length === 0 || compare_by(this.revolution === true ? ">" : "<" )(this.field_card[this.field_card.length - 1].rank, card.rank) ){
    this.field_card.push(card);
    this.player_card[AI_PLAYER_IDX] = this.player_card[AI_PLAYER_IDX].filter(c => c.id !== card.id);
    // this.player_card[AI_PLAYER_IDX]のlengthが0の場合は勝利(winner_player_aryにidxを追加)
    if(this.player_card[AI_PLAYER_IDX].length === 0){
        this.winner_player_ary.push(AI_PLAYER_IDX);
        console.log(ai_name + "の勝利");
    }
    this.passed_players_index = [];
}
// passが一巡したか確認。一巡していなければpass。cardがthis.field_cardの末尾のカードよりrankの値が小さい場合はpassする
else{
    if(this.passed_players_index.length === this.player_name.length - 1){
        // 勝ったplayerのidxを取得(passed_players_indexに存在しないplayerのidx)
        const winner_idx = this.player_name.findIndex((_, idx) => !this.passed_players_index.includes(idx));
        // 一巡した場合はfieldを空にしたあと、passed_players_indexを空に
        this.field_card = [];
        this.passed_players_index = [];
        // winner_idxがaiの場合はai_play_cardを実行
        if(winner_idx !== 0){
            this.ai_play_card(winner_idx, this.player_name[winner_idx], false, this.player_name[winner_idx]+"_0");
        }
    }else{
        this.passed_players_index.push(AI_PLAYER_IDX);
    }
}

},



                to_ary(ary_like){
                    return JSON.parse(JSON.stringify(ary_like));
                },
            },
        }).mount('#app');
    </script>
</body>
</html>