<!-- check_passを修正する(humanがpassした後に処理されない) -->
<!DOCTYPE html>
<html>
<head>
    <title>大富豪</title>
    <script src="./vue@3.2.36.global.prod.js"></script>
</head>
<style>
    h1, h2 {
        font-size: 0.5rem;
    }
</style>
<body>
    <div id="app">
        <!-- passed_players_indexに0が含まれていない時だけhuman_passを表示 -->
        <button v-if="!passed_players_index.includes(0)" @click="human_pass">human_pass</button>


        <button @click="ai_play_card(this.current_player_index_num)">play_last</button>
        <button @click="revolution = !revolution">revolution button</button>
        <h2>revolution: {{ revolution }}</h2>
        played_player_index: {{ played_player_index }}
        passed_players_index: {{ passed_players_index }}
        winner_player_ary: {{ winner_player_ary }}
        {{this.current_player_index_num}}
        <h2 v-for="(player, player_idx) in player_name">{{ player }}: {{ player_card[player_idx].length }}</h2>
        <button @click="startGame">ゲーム開始</button>
        <div v-for="card in field_card">
            <h2>{{ card }}</h2>
        </div>
        <div v-for="(player, player_idx) in player_name">
            <h2>{{ player }}</h2>
            <div v-for="card in player_card[player_idx]">
                <h2>
                    {{ card }}
                    <span v-if="player_idx === 0">
                        <button @click="human_player_play(player_idx, card.id)">human_player_play</button>
                    </span>
                </h2>
            </div>
        </div>
    </div>
    <script>
        const compareBy = operator => {
            switch (operator) {
                case '<': return (a, b) => a < b;
                case '>': return (a, b) => a > b;
                default: throw new Error('Invalid operator');
            }
        };

const app = Vue.createApp({
data() {
    return {
        test_ary: [],

        winner_player_ary: [],
        passed_players_index: [],
        played_player_index: [],
        player_name: [],
        player_card: [],
        field_card: [],
        deck: [],
        revolution: false,
        last_played_player_idx: null,

        testing: false,
    }
},
mounted() {
    this.startGame();
},
watch: {
    played_player_index: {
            handler(new_val, old_val) {
        },
        deep: true
    },
},

methods: {
    getCardIdx(cardIdx) {
        return this.current_card_idx = cardIdx;
    },
    startGame() {
        this.deck = this.shuffle(this.createDeck());
        this.dealCards();
    },
    createDeck() {
        const suits = ['Spades', 'Hearts', 'Diamonds', 'Clubs'];
        const ranks = Array.from({length: 13}, (_, i) => i + 1);
        return suits.flatMap(suit => ranks.map((rank, idx) => ({ rank, suit })));
    },
    shuffle(array) {
        return array.sort(() => Math.random() - 0.5);
    },
    dealCards() {
        this.player_name = ['human1', 'ai1', 'ai2', 'ai3', 'ai4', 'ai5', 'ai6', 'ai7', 'ai8', 'ai9'];
        const eachPlayerCardNumAry = [...Array(this.player_name.length).keys()].map(idx => Math.floor(this.deck.length / this.player_name.length) + (idx < this.deck.length % this.player_name.length ? 1 : 0));
        while(this.player_name.length){
            const player = this.player_name.shift();
            this.player_card.push(this.deck.splice(0, eachPlayerCardNumAry.shift()).map((card, idx) => ({ ...card, id: player+"_"+idx.toString() })));
            this.player_name.push(player);
            if(this.deck.length === 0){break;}
        }
        this.player_card = this.player_card.map(cards => cards.sort((a, b) => a.rank - b.rank));
    },


    can_and_exe(playerIdx, playerCard, card) {
        const playerName = this.player_name[playerIdx];
        const is_can = (playerIdx, playerCard, card, playerName) => {
            if (this.can_play_card(card.rank)) {
                this.field_card.push(card);
                this.player_card[playerIdx] = playerCard.filter(c => c.id !== card.id);
                if (this.player_card[playerIdx].length === 0) {
                    this.winner_player_ary.push(playerIdx);
                    console.log(`${playerName}の勝利`);
                }
                this.passed_players_index = [];
                this.manage_turn(false, playerIdx);
            }
        }
        is_can(playerIdx, playerCard, card, playerName);
    },
    human_pass(){
        this.manage_turn(true, 0, 0);
        // passed_players_indexに0が含まれていない残りのaiにplayさせる
        this.check_pass();


    },
    human_play_card(playerIdx, cardId, pass=false) {
        console.log("human_play_card");
        const playerCard = this.player_card[playerIdx];
        if (this.winner_player_ary.includes(playerIdx)) {
            return;
        }
        const card = playerCard.find(c => c.id === cardId);
        this.can_and_exe(playerIdx, playerCard, playerCard.find(c => c.id === cardId));
        if (this.is_field_card_nothing === false && !this.can_play_card(card.rank)) {
            console.log("fieldに出せないカードを出そうとした");
            throw new Error("fieldに出せないカードを出そうとした");
        }
    },
    human_player_play(playerIdx, cardId, pass=false) {
        console.log("human_player_play");
        if(this.field_card.length !== 0 && this.field_card[this.field_card.length - 1].rank > this.player_card[playerIdx].find(c => c.id === cardId).rank ) {
            console.log("rankが低いのでfield_cardに出せるカードでは無い");
            return;
        }
        this.human_play_card(playerIdx, cardId, pass);
        this.all_ai_play();
    },
    all_ai_play(start_idx) {
        console.log("all_ai_play");
        if(start_idx){
            start_idx = start_idx || 5;
            const start_idx_ary = this.player_name.slice(start_idx).map((_, idx) => idx + start_idx);
            start_idx_ary.forEach(i => {
                this.ai_play_card(i, this.player_name[i]);
            })
            // this.test(["all_ai_play",[{start_idx: start_idx},{start_idx_ary: start_idx_ary},]]);
            if(start_idx_ary.length !== 0){
                return;
            }
            console.log("hoge");
        }
        // humang以外のplayer_nameのindexを取得
        const get_without_human_ary = () => {
            return this.player_name.filter((_, idx) => idx !== 0);
        }
        console.log("get_without_human_ary", get_without_human_ary());
        for (let i = 0; i < get_without_human_ary().length; i++) {
            if (!this.winner_player_ary.includes(i)) {
                console.log(i);
                // console.log(this.passed_players_index);
                // this.catch_double_zero();
                this.ai_play_card(i+1, this.player_name[i]);
            }
        }
    },
    check_pass() {
        const all_player_passed_check_fn = () => {
            if (this.passed_players_index.length === this.player_name.length - 1) {
                return true;
            }
            return false;
        }
        if (all_player_passed_check_fn() === true) {
            this.field_card = [];
            this.passed_players_index = [];
            this.current_player_index_num = this.last_played_player_idx;
            if(this.last_played_player_idx !== 0) {
                this.all_ai_play(this.last_played_player_idx);
            }
        }
        if (all_player_passed_check_fn() === false) {
            // const remaining_player_idx = this.player_name.filter((_, idx) => !this.passed_players_index.includes(idx));
            // const remaining_player_idx_ary = this.player_name_to_index_ary(remaining_player_idx);
            // if (remaining_player_idx_ary.length !== 0) {
            //     this.current_player_index_num = remaining_player_idx_ary[0];
            // }
            // played_player_indexとpassed_players_indexを一つの配列にして、全てのplayerがplayedかpassedした場合は、played_player_indexの末尾の数字のplayerが次のplayerになる
            const played_and_passed_player_idx = this.played_player_index.concat(this.passed_players_index);
            console.log("played_and_passed_player_idx", played_and_passed_player_idx);
            if (played_and_passed_player_idx.length === this.player_name.length) {
                console.log("played_and_passed_player_idx.length", played_and_passed_player_idx.length);
                console.log("this.player_name.length", this.player_name.length);
                this.current_player_index_num = this.played_player_index[this.played_player_index.length - 1];
                console.log("this.current_player_index_num", this.current_player_index_num);
                // this.current_player_index_numがaiの場合は、ai_play_cardを実行
                if (this.current_player_index_num !== 0) {
                    console.log("this.current_player_index_num !== 0");
                    this.all_ai_play(this.current_player_index_num);
                }

            }

        }
    },
    can_play_card(rank) {
        if (this.is_field_card_nothing() || compareBy(this.revolution === true ? ">" : "<" )(this.field_card[this.field_card.length - 1].rank, rank)) {
            return true;
        }
        return false;
    },
    ai_play_card(AI_PLAYER_IDX=1) {
        if (AI_PLAYER_IDX === 0) {
            return;
        }
        if (this.winner_player_ary.includes(AI_PLAYER_IDX)) {return};
        const playerCard = this.player_card[AI_PLAYER_IDX];
        const card = this.is_field_card_nothing() ? playerCard[Math.floor(Math.random() * playerCard.length)] : playerCard.filter(c => this.can_play_card(c.rank))[Math.floor(Math.random() * playerCard.filter(c => this.can_play_card(c.rank)).length)];
        const pass = card === undefined;
        // this.test(["ai_play_card",[{AI_PLAYER_IDX: AI_PLAYER_IDX},{playerCard: this.to_ary(playerCard)},{card: this.to_ary(card)},{pass: pass},]]);
        pass ? (this.manage_turn(true, 0, AI_PLAYER_IDX), this.check_pass()) : this.can_and_exe(AI_PLAYER_IDX, playerCard, card);
    },
    is_field_card_nothing() {
        return this.field_card.length === 0;
    },
    manage_turn(pass=false, played_player=0, passed_player=0) {
        if(pass === true) {
            this.passed_players_index.push(passed_player);
        }
        if(pass == false) {
            this.last_played_player_idx = played_player;
            this.played_player_index.push(played_player);
        }
        this.test(["manage_turn",[{pass: pass},{last_played_player_idx: this.last_played_player_idx},{played_player_index: this.played_player_index},{played_player: played_player},{passed_player: passed_player},]]);

    },
    player_name_to_index_ary(player_name_ary){
        // this.test(["can_and_exe", 123])
        return player_name_ary.map(player_name => this.player_name.indexOf(player_name));
    },
    test(add_ary_param){
        if(add_ary_param){
            this.test_ary.push(add_ary_param);
            const ary = JSON.parse(JSON.stringify(this.test_ary));
            const test_ary = JSON.parse(JSON.stringify(this.test_ary)).map(V=>V[0]);

test_ary.includes("can_and_exe") ? console.log(ary.filter(V=>V[0]==="can_and_exe")[1]) : null;
test_ary.includes("human_play_card") ? console.log(ary.filter(V=>V[0]==="human_play_card")[1]) : null;
test_ary.includes("human_pass") ? console.log(ary.filter(V=>V[0]==="human_pass")[1]) : null;
test_ary.includes("human_player_play") ? console.log(ary.filter(V=>V[0]==="human_player_play")[1]) : null;
test_ary.includes("all_ai_play") ? console.log(ary.filter(V=>V[0]==="all_ai_play")[1]) : null;
test_ary.includes("check_pass") ? console.log(ary.filter(V=>V[0]==="check_pass")[1]) : null;
test_ary.includes("can_play_card") ? console.log(ary.filter(V=>V[0]==="can_play_card")[1]) : null;
test_ary.includes("ai_play_card") ? console.log(ary.filter(V=>V[0]==="ai_play_card")[1]) : null;
test_ary.includes("is_field_card_nothing") ? console.log(ary.filter(V=>V[0]==="is_field_card_nothing")[1]) : null;
test_ary.includes("manage_turn") ? console.log(ary.filter(V=>V[0]==="manage_turn")[1]) : null;
test_ary.includes("to_ary") ? console.log(ary.filter(V=>V[0]==="to_ary")[1]) : null;
}

    },

    catch_double_zero(){
        // played_player_indexに0が複数ある場合
        if(this.played_player_index.filter(v => v === 0).length > 1){
            console.log("double zero");
        }
    },


    to_ary(ary_like) {
        if(ary_like){
        return JSON.parse(JSON.stringify(ary_like));
        }
    }
}
}).mount('#app');
    </script>
</body>
</html>
