<!DOCTYPE html>
<!-- a sideがb sideにmatch(when: match) => b sideがa sideにmatch(when: recieve) =>
    recieve状態であればa,b双方にURL発行 => 
    ※※※※※※仕様検討中: match4からclient6に自動的にリダイレクト(matchesにrecive状態のレコードがある場合。)
    ※※※※※※仕様検討中: client6に自動リダイレクト後発行されたpeer_idをmatchesに挿入
    => 片方がchatにログイン(matchをwaitingに,peer_idをmatchesに挿入) => 対向にwaitingであることが表示 =>
    両方がchatにログイン(matchesからpeer_idを取得,matchをchattingに) => chat開始 -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>match4</title>
    <script src="./vue@3.2.36.global.prod.js"></script>
    <script src="./peerjs.1.5.2.min.js"></script>
    <style>
        .block_0 {
            /* 右にずらす */
            margin-left: 0rem;
            /* background-color: yellow; */
        }
        .block_1 {
            /* 右にずらす */
            margin-left: 1rem;
            /* background-color: red; */
        }
        .block_2 {
            /* 右にずらす */
            margin-left: 3rem;
            /* background-color: blue; */
        }

        .chat-container {
            display: flex;
            flex-direction: column;
            width: 50%;
            margin: auto;
        }
        .message {
            padding: 10px;
            margin: 10px 0;
            border-radius: 10px;
        }
        .message-left {
            align-self: flex-start;
            background-color: #f0f0f0;
        }
        .message-right {
            align-self: flex-end;
            background-color: #0f0;
        }
        .online{
            /* onlineはbold */
            font-weight: bold;
        }
        .offline{
            /* offlineの場合は灰色 */
            color: gray;
        }
        .new_user_insert{
            /* 新規ユーザー追加のフォーム */
            margin-top: 1rem;
        }
    </style>
</head>
<body>
<div id="app">
    <!-- matche_doneには
        all_matched
        (
            whenがrecieveかつ、
            send_idかrecieve_idに自分のID(login_id_name.id)が含まれる結果
        )
        を表示 -->
        <!-- all_matchedをfetchするbutton -->
    <button @click="fetch_read_recieved_anyone_own_matches()">fetch_read_recieved_anyone_own_matches</button>
    all_matched:
    <div class="matche_done">
        {{ all_matched }}
    </div>
    <div class="matcher">
        <!-- fetch_read_matches button -->
        <button @click="fetch_read_matches()">fetch_read_matches</button>
        
        receive_matched:
        <div v-if="receive_matched">
            <!-- receive_matchedのidだけ表示するv-for -->
            <div v-for="(value, key) in receive_matched" :key="key">
                    {{ key }}: 
                    <!-- valueからvalue2をv-for -->
                    <div v-for="(value2, key2) in value" :key="key2">
                        <div v-if="key2 === 'id'">{{ key2 }}: {{ value2 }}
                            <button @click="fetch_change_match_to_recieve(value2)">fetch_change_match_to_recieve</button>
                        </div>
                        <div v-if="key2 === 'receive_id'">{{ key2 }}: {{ value2 }}</div>
                        <div v-if="key2 === 'send_id'">{{ key2 }}: {{ value2 }}</div>
                        <div v-if="key2 === 'when_to_send'">{{ key2 }}: {{ value2 }}</div>
                    </div>
            </div>
        </div>

        <!-- send_matchedをfetchする -->
        <button @click="fetch_read_send_matches()">fetch_read_send_matches</button>
        send_matched:
        <div v-if="send_matched">
            <!-- send_matchedのidだけ表示するv-for -->
            <div v-for="(value, key) in send_matched" :key="key">
                    {{ key }}: 
                    <!-- valueからvalue2をv-for -->
                    <div v-for="(value2, key2) in value" :key="key2">
                        <div v-if="key2 === 'id'">{{ key2 }}: {{ value2 }}
                            <!-- <button @click="fetch_change_match_to_recieve(value2)">fetch_change_match_to_recieve</button> -->
                        </div>
                        <div v-if="key2 === 'receive_id'">{{ key2 }}: {{ value2 }}</div>
                        <div v-if="key2 === 'send_id'">{{ key2 }}: {{ value2 }}</div>
                        <div v-if="key2 === 'when_to_send'">{{ key2 }}: {{ value2 }}</div>
                    </div>
            </div>
        </div>

    
        <!-- fetch_read_recieve_matchesのbutton -->
        <button @click="fetch_read_recieve_matches()">fetch_read_recieve_matches</button>
        matched:
        <div v-if="matched">
        <div v-for="(value, key) in matched" :key="key">
            {{ key }} :
            <!-- valueをv-for -->
            <div v-for="(value2, key2) in value" :key="key2">
                    {{ key2 }}: {{ value2 }}
                    <!-- key2がidの時はexe_update関数のボタンを表示 -->
                    <!-- <button v-if="key2 === 'id'" @click="exe_update(value2)">exe_update</button> -->
            </div>
        </div>
        </div>
    </div>

    <!-- fetch_delete_matches button -->
    <button @click="fetch_delete_matches()">fetch_delete_matches</button>
            <!-- this block for debug -->
            <div v-if="login_id_name && matched_data_ary && matched_data_ary.message[0] && matched_data_ary.message[0].user_data_id">
                {{ 
                matched_data_ary.message
                    .map((a, IDX) => {
                    return [
                    "send_id", login_id_name.id,
                    "receive_id", matched_data_ary.message[ IDX ].user_data_id,
                    ]
                    })
                }}
            </div>
<button @click="login_as()">login_as</button>
<div>{{login_id_name}}</div>
<button @click="login_as({id: 7, name: 'C'})">login_as({id: 7, name: 'C'})</button>
<div v-if="web_data && matched_data_ary">
    <div v-for="match_data, match_data_idx in matched_data_ary.message">
        <!-- {{ match_data_idx }} -->
        {{ match_data }}
        <button @click="fetch_insert_matches('match', match_data.user_data_id)">fetch_insert_matches</button>
    </div>
</div>
{{ERROR_MESSAGE}}
<div v-if="web_data && current_user" :class="current_user.user_type === 'company' ? 'message message-right' : 'message message-left'">
            <div>user_data_id: {{current_user.user_data_id}}</div>
            <div>user_name: {{current_user.user_name}}</div>
            <div>weight_num: {{current_user.weight_num}}
                <button @click="fetch_update_user_datas_weight_num(current_user.user_data_id, current_user.weight_num, '+')">+</button>
                <button @click="fetch_update_user_datas_weight_num(current_user.user_data_id, current_user.weight_num, '-')">-</button>
            </div>
            <div>user_type: {{current_user.user_type}}</div>
            <div>offline_online: {{current_user.offline_online}}
                <button @click="fetch_update_user_datas_online_offline(current_user.user_data_id)">1isOne</button>
            </div>
            <div>skills_id_array: {{current_user.skills_id_array}}</div>
            <div>skills: </div>
            <div v-for="b, b_idx in current_user.skills">
                <span>{{b.skill}}</span>
                <button @click="fetch_read_1_who_find_n_companies_or_n_customers_by_1_skill(b.id)">match</button>
                <button @click="fetch_delete_user_datas_skills_id_array(current_user.user_data_id, b.id)">|</button>
            </div>
            <select v-model="selected_keyword">
                <option v-for="all_skills_one, all_skills_one_idx in all_skills" :value="all_skills_one.id" :key="all_skills_one_idx">{{all_skills_one.skill}}</option>
            </select>
            <button @click="fetch_update_user_datas_skills_id_array(a.user_data_id, selected_keyword)">fetch_update_user_datas_skills_id_array</button>
</div>

<div>
    <input type="text" v-model="skill_str" placeholder="Enter skill">
    <button @click="fetch_add_skill_str">fetch_add_skill_str</button>
    <div>
    <span v-for="all_skills_one, all_skills_one_idx in all_skills">
        <span>{{all_skills_one.skill}}</span>
        <button @click="fetch_delete_skills(all_skills_one.id)">fetch_delete_skills</button>
    </span>
    </div>
<div v-if="web_data">
<div v-if="web_data.message" class="chat-container">
    <div v-for="a, a_idx in web_data.message" :class="a.user_type === 'company' ? 'message message-right' : 'message message-left'">
        <div>user_data_id: {{a.user_data_id}}</div>
        <div>user_name: {{a.user_name}}</div>
        <div>weight_num: {{a.weight_num}}
            <button @click="fetch_update_user_datas_weight_num(a.user_data_id, a.weight_num, '+')">+</button>
            <button @click="fetch_update_user_datas_weight_num(a.user_data_id, a.weight_num, '-')">-</button>
        </div>
        <div>user_type: {{a.user_type}}</div>
        <div>offline_online: {{a.offline_online}}
            <button @click="fetch_update_user_datas_online_offline(a.user_data_id)">1isOne</button>
        </div>
        <div>skills_id_array: {{a.skills_id_array}}</div>
        <div>skills: </div>
        <span v-for="b, b_idx in a.skills">
            <span>{{b.skill}}</span>
            <button @click="fetch_delete_user_datas_skills_id_array(a.user_data_id, b.id)">|</button>
            <span>{{' '}}</span>
        </span>
        <select v-model="selected_keyword">
            <option v-for="all_skills_one, all_skills_one_idx in all_skills" :value="all_skills_one.id" :key="all_skills_one_idx">{{all_skills_one.skill}}</option>
        </select>
        <button @click="fetch_update_user_datas_skills_id_array(a.user_data_id, selected_keyword)">fetch_update_user_datas_skills_id_array</button>
    </div>
</div>
</div>
    <div class="new_user_insert">
        <div>userName: <input type="text" v-model="userName" placeholder="Enter user name"></div>
        <div>weightNum: <input type="text" v-model="weightNum" placeholder="Enter weight num"></div>
        <div><select v-model="userType">
            <option v-for="user_type_one, user_type_one_idx in user_type_list" :value="user_type_one.customer_type" :key="user_type_one_idx">{{user_type_one.customer_type}}</option>
        </select></div>
        <div><select v-model="onlineOffline">
            <option value="0">offline</option>
            <option value="1">online</option>
        </select></div>
        <div><button @click="fetch_add_user_data">fetch_add_user_data</button></div>
        <div>
        </div>
    </div>
</div>
<input type="text" value="peer_id_a" id="peer_id_a" style="width: 200rem;">
</div>
</body>
<script>
const app = Vue.createApp({
data() {
return {
    url_for_reciver_user: '',
    sample_data_ary: [],

    receive_matched: null,
    send_matched: null,
    all_matched: null,

    matched: null,

    show_full_url: false,
    login_id_name: {id: 1, name: "a"},
    text_id_ary: [
        {id: 0, text: "今通話可能", text_stamp_url: "https://upload.wikimedia.org/wikipedia/commons/c/c1/Google_%22G%22_logo.svg"},
        {id: 1, text: "通話OK", text_stamp_url: "https://upload.wikimedia.org/wikipedia/commons/c/c1/Google_%22G%22_logo.svg"},
        {id: 2, text: "こんにちは", text_stamp_url: "https://upload.wikimedia.org/wikipedia/commons/c/c1/Google_%22G%22_logo.svg"},
        {id: 3, text: "今NG", text_stamp_url: "https://upload.wikimedia.org/wikipedia/commons/c/c1/Google_%22G%22_logo.svg"},
    ],
    now_checking_match: false,
    match_url_array: [],
    matched_data_ary: null,
    endpoint: 'http://localhost:8000',
    // endpoint: 'http://127.0.0.1:3000',
    // endpoint: 'https://cotton-concrete-catsup.glitch.me',

    web_data: null,
    userName: '',
    weightNum: '',
    userType: '',
    onlineOffline: '',
    skills: [],
    all_skills: [],

    other_side_data_link: '',
    own_side_data_link: '',
    match_result: [],
    ERROR_MESSAGE: "",
    selected_user: 1,
    selected_keyword: "",
    new_keyword: "",
    user_type_list: [
        {id: 1, customer_type: "company",},
        {id: 2, customer_type: "customer",},
    ],
    user_list: [
        {id: 1, online_status: {start: null, until:null, on_off: "off"}, name: "a", user_type_list_id: 1, keyword_list: [1,2,3,5], weight: 1,},
        {id: 2, online_status: {start: null, until:null, on_off: "off"}, name: "b", user_type_list_id: 1, keyword_list: [3,4], weight: 2,},
        {id: 3, online_status: {start: null, until:null, on_off: "off"}, name: "c", user_type_list_id: 2, keyword_list: [5,6], weight: 0,},
        {id: 4, online_status: {start: null, until:null, on_off: "off"}, name: "d", user_type_list_id: 2, keyword_list: [1,7,8,9], weight: 3,},
    ],
    keyword_list: [
        {id: 1, keyword: "java"},
        {id: 2, keyword: "sql"},
        {id: 3, keyword: "html"},
        {id: 4, keyword: "css"},
        {id: 5, keyword: "javascript"},
        {id: 6, keyword: "php"},
        {id: 7, keyword: "python"},
        {id: 8, keyword: "ruby"},
        {id: 9, keyword: "c"},
    ],
    LIST: [],
    selected_user_LIST: [],
}
},
watch: {
    list_1: {
    handler(new_val, old_val) {
    },
    deep: true
   },
},
mounted() {
    this.list_filter();
    this.userName = "a";
    this.weightNum = 1;
    this.userType = "company";
    this.onlineOffline = 0;
    this.fetch_read_skills();
    this.fetch_read_user_datas_skills();
    this.login_as();
},
beforeUpdated() {
},
updated() {
    
    
},
methods: {
async fetch_read_recieved_anyone_own_matches(){
    try {
        if (!this.login_id_name.id) throw new Error("login_id_name.idがありません");
        const res = await fetch(this.endpoint + '/read_recieved_anyone_own_matches', {method: 'POST',headers: {'Content-Type': 'application/json',},
            body: JSON.stringify({user_id: this.login_id_name.id}),
        });
        const data = await res.json(); console.log(data);
        this.all_matched = data.message;
        this.ERROR_MESSAGE = "";
    } catch (error) {
        this.ERROR_MESSAGE = error.message;
    }
},
async fetch_change_match_to_recieve(Match_Id){
    try {
        // const match_id = req.body.match_id;
        const res = await fetch(this.endpoint + '/update_when_to_send_recieve', {method: 'POST',headers: {'Content-Type': 'application/json',},
            body: JSON.stringify({match_id: Match_Id}),
        });
        const data = await res.json(); console.log(data);
        this.ERROR_MESSAGE = "";
    } catch (error) {
        this.ERROR_MESSAGE = error.message;
    }
},
login_as(Id_Name={id: 5, name: "a"}){
if(this.web_data){
    this.current_user = this.web_data.message.find(user => user.user_data_id === Id_Name.id);
}
this.login_id_name = Id_Name;
},
update_online_status(){
    this.selected_user_LIST[0].online_status.start = new Date().toISOString();
    this.selected_user_LIST[0].online_status.until = new Date(new Date().getTime() + 10 * 60000).toISOString();
    this.selected_user_LIST[0].online_status.on_off = "on";
},
reset_all_online_status(){
    this.user_list = this.user_list.map(user => {
        user.online_status.start = null;
        user.online_status.until = null;
        user.online_status.on_off = "off";
        return user;
    });
},
reset_selected_user_online_status(Id){
    this.user_list = this.user_list.map(user => {
        if (user.id === Id){
            user.online_status.start = null;
            user.online_status.until = null;
            user.online_status.on_off = "off";
        }
        return user;
    });
},
set_selected_user_online_status(Id){
    this.user_list = this.user_list.map(user => {
        if (user.id === Id){
            user.online_status.start = new Date().toISOString();
            user.online_status.until = new Date(new Date().getTime() + 10 * 60000).toISOString();
            user.online_status.on_off = "on";
        }
        return user;
    });
},
on_off(Id){
    this.reset_other_user_online_status(Id);
    this.set_selected_user_online_status(Id);
},
set_all_online_status(){
    this.user_list = this.user_list.map(user => {
        user.online_status.start = new Date().toISOString();
        user.online_status.until = new Date(new Date().getTime() + 10 * 60000).toISOString();
        user.online_status.on_off = "on";
        return user;
    });
},
reset_other_user_online_status(Id){
    this.user_list = this.user_list.map(user => {
        if (user.id !== Id){
            user.online_status.start = null;
            user.online_status.until = null;
            user.online_status.on_off = "off";
        }
        return user;
    });
},
list_filter(){
    this.make_LIST();
    this.selected_user_LIST = this.LIST.filter(user => user.id === this.selected_user);
    this.update_online_status();
},
make_LIST(){
    this.LIST = this.user_list.map(user => {
        return {
            name: user.name,
            online_status: user.online_status,
            id: user.id,
            weight: user.weight,
            user_type: this.user_type_list.find(user_type => user_type.id === user.user_type_list_id),
            keyword_list: user.keyword_list.map(keyword_id => this.keyword_list.find(keyword => keyword.id === keyword_id)),
        }
    });
},
exe(){
    console.log("abc");
},
to_ary(from){
    return JSON.parse(JSON.stringify(from));
},
add_keyword(){
try {
    const user = this.user_list.find(user => user.id === this.selected_user);
    if (user.keyword_list.some(keyword_id => keyword_id === this.selected_keyword)) throw new Error("すでに追加されています");
    user.keyword_list.push(this.selected_keyword);
    this.list_filter();
    this.ERROR_MESSAGE = "";
} catch (error) {
    this.ERROR_MESSAGE = error.message;
}
},
delete_keyword(keyword_id){
    try {
        console.log("delete_keyword", keyword_id);
        const user = this.user_list.find(user => user.id === this.selected_user);
        // 削除するキーワードが存在しない場合はエラースロー
        if (!user.keyword_list.some(keyword => keyword === keyword_id)) throw new Error("削除するキーワードが存在しません");
        user.keyword_list = user.keyword_list.filter(keyword => keyword !== keyword_id);
        this.list_filter();
        // 問題なく削除できた場合はERROR_MESSAGEを空にする
        this.ERROR_MESSAGE = "";
    } catch (error) {
        this.ERROR_MESSAGE = error.message;
    }
},
add_new_keyword(){
    try {
        console.log("add_new_keyword", this.new_keyword);
        // 同じキーワードがある場合は追加しない 
        // エラースローのワンライナー
        if (this.keyword_list.some(keyword => keyword.keyword === this.new_keyword)) throw new Error("すでに追加されています");
        this.keyword_list.push({
            id: this.keyword_list.length + 1,
            keyword: this.new_keyword,
        });
        this.list_filter();
        // 追加したキーワードをadd_keywordする
        // keyword_listの最後の要素が追加されたキーワード
        this.selected_keyword = this.keyword_list[this.keyword_list.length - 1].id;

        this.add_keyword();


        this.ERROR_MESSAGE = "";
    } catch (error) {
        this.ERROR_MESSAGE = error.message;
    }
},
weight_change(id){
    this.LIST = this.LIST.map(user => {
        if (user.id === id){
            // user.weightは0が下限。weightが0の場合はweightを変更しない
            user.weight > 0 ? user.weight += 1 : null;
        }
        return user;
    });

},
match_exe(){
    const match_result_online = (res) =>{
        return res.filter(user => user.online_status.on_off === "on");
    }
    const selected_user = this.user_list.find(user => user.id === this.selected_user);
    let match_result = [];
    if (selected_user.user_type_list_id === 1){
        // selected_userがcompanyの場合
        // selected_userがcompanyの場合はresultはcustomerのリスト
        const customer_list = this.user_list.filter(user => user.user_type_list_id === 2);
        for (const customer of customer_list){
            // selected_userとcustomerが共通して持っているキーワードを抽出
            const match_keyword_num = selected_user.keyword_list.filter(keyword => customer.keyword_list.some(customer_keyword => customer_keyword === keyword));
            // match_keyword_listの番号から実際のキーワードの配列を取得
            const match_keyword_list = match_keyword_num.map(keyword_id => this.keyword_list.find(keyword => keyword.id === keyword_id));

            if (match_keyword_list.length > 0){
                match_result.push({
                    customer: customer,
                    weight: customer.weight,
                    online_status: customer.online_status,
                    match_keyword_list: match_keyword_list,
                });
            }
        }
    } ;
    if (selected_user.user_type_list_id === 2){
        // selected_userがcustomerの場合
        // selected_userがcustomerの場合はresultはcompanyのリスト
        const company_list = this.user_list.filter(user => user.user_type_list_id === 1);
        for (const company of company_list){
            // selected_userとcompanyが共通して持っているキーワードを抽出
            const match_keyword_num = selected_user.keyword_list.filter(keyword => company.keyword_list.some(company_keyword => company_keyword === keyword));
            // match_keyword_listの番号から実際のキーワードの配列を取得
            const match_keyword_list = match_keyword_num.map(keyword_id => this.keyword_list.find(keyword => keyword.id === keyword_id));
            if (match_keyword_list.length > 0){
                match_result.push({
                    company: company,
                    weight: company.weight,
                    online_status: company.online_status,
                    match_keyword_list: match_keyword_list,
                });
            }
        }
    } ;
    const sort_by_weight = (res) =>{
        return match_result.sort((a, b) => {
            if (a.weight < b.weight) return 1;
            if (a.weight > b.weight) return -1;
            return 0;
        });
    }
    match_result = match_result_online(match_result);
    this.match_result = sort_by_weight(match_result);
    this.match_result = match_result;
},
start_chat(other_side_id, own_side_id){
    // other_side_id, own_side_idがnullやundefinedでない場合はchatを開始する
            // other_side_idがあるかfindする
    other_side_bool = this.LIST.find(user => user.id === other_side_id);
    own_side_bool = this.LIST.find(user => user.id === own_side_id);
    if (other_side_id && own_side_id && other_side_bool && own_side_bool){
        console.log("start_chat", other_side_id, own_side_id);

    }
    other_side_data = this.LIST.filter(user => user.id === other_side_id)[0];
    own_side_data = this.LIST.filter(user => user.id === own_side_id)[0];
    // 同じパスのclient3.htmlにget paramでJSON.stringifyされたother_side_idもしくはown_side_idを渡すリンクを作る
    // 例:http://127.0.0.1:3000/client3.html?other_side_data_str=*****
    var url = window.location.href;
    var dirname = url.substring(0, url.lastIndexOf('/'));
    // this.other_side_data_link = dirname + "/match2.html?other_side_data_str=" + JSON.stringify(other_side_data);
    this.other_side_data_link = dirname + "/match2.html?other_side_data_str=" + JSON.stringify(other_side_data) + "&own_side_data_str=" + JSON.stringify(own_side_data);
    // this.own_side_data_link = dirname + "/match2.html?own_side_data_str=" + JSON.stringify(own_side_data);
    this.own_side_data_link = dirname + "/match2.html?other_side_data_str=" + JSON.stringify(own_side_data) + "&own_side_data_str=" + JSON.stringify(other_side_data);
    // this.link_1 = dirname + "/match2.html?other_side_data_str=" + JSON.stringify(other_side_data) + "&own_side_data_str=" + JSON.stringify(own_side_data);
    // this.link_2 = dirname + "/match2.html?other_side_data_str=" + JSON.stringify(own_side_data) + "&own_side_data_str=" + JSON.stringify(other_side_data);
},
parse_url(){
    const url = new URL(window.location.href);
    const other_side_data_str = url.searchParams.get('other_side_data_str');
    const own_side_data_str = url.searchParams.get('own_side_data_str');
    if (other_side_data_str){
        console.log("other_side_data_str", other_side_data_str);
        console.log(JSON.parse(other_side_data_str));
    }
    if (own_side_data_str){
        console.log("own_side_data_str", own_side_data_str);
        console.log(JSON.parse(own_side_data_str));
    }
},
async fetch_add_user_data() {
    try {
    // this.skillsが空の場合はall_skillsの最初の要素のidをセットする
    this.skills.length === 0 ? this.skills.push(this.all_skills[0].id) : null;

    const [error_check_user_name, error_check_weight_num, error_check_user_type, error_check_offline_online, error_check_skills_id_array] =
        [this.userName, this.weightNum, this.userType, this.onlineOffline, this.skills].map((val) => JSON.parse(JSON.stringify(val)));
    error_check_user_name === undefined || error_check_user_name === null || error_check_user_name.length === 0 || error_check_user_name.length > 24 || error_check_user_name.includes(' ') || error_check_user_name.includes('　') ? (()=>{throw new Error('user_nameが不正です')})() : null;
    error_check_weight_num === undefined || error_check_weight_num === null || error_check_weight_num < 1 || error_check_weight_num > 1000 ? (()=>{throw new Error('weight_numが不正です')})() : null;
    error_check_user_type === undefined || error_check_user_type === null || error_check_user_type !== 'company' && error_check_user_type !== 'customer' ? (()=>{throw new Error('user_typeが不正です')})() : null;
    error_check_offline_online === undefined || error_check_offline_online === null || error_check_offline_online !== 0 && error_check_offline_online !== 1 ? (()=>{throw new Error('offline_onlineが不正です')})() : null;
    error_check_skills_id_array === undefined || error_check_skills_id_array === null || !Array.isArray(error_check_skills_id_array) || error_check_skills_id_array.length < 1 || error_check_skills_id_array.some((num) => typeof num !== 'number' || num < 1) ? (()=>{throw new Error('skills_id_arrayが不正です')})() : null;
    const res = await fetch(this.endpoint + '/insert_user_datas', {method: 'POST',headers: {'Content-Type': 'application/json',},
        body: JSON.stringify({user_name: this.userName,weight_num: this.weightNum,user_type: this.userType,offline_online: this.onlineOffline,skills_id_array: this.skills,}),
    });
    const data = await res.json(); console.log(data);
    this.ERROR_MESSAGE = "";
    } catch (error) {
        this.ERROR_MESSAGE = error.message;
    }
},
async fetch_add_skill_str() {
    try {
        console.log(JSON.stringify({skill: this.skill_str}));
        this.skill_str === undefined || this.skill_str === null || this.skill_str.length === 0 || this.skill_str.length > 24 || this.skill_str.includes(' ') || this.skill_str.includes('　') ? (()=>{throw new Error('skillが不正です')})() : null;
        const res = await fetch(this.endpoint + '/insert_skills', {method: 'POST',headers: {'Content-Type': 'application/json',},
            body: JSON.stringify({ skill: this.skill_str,}),
        });
        const data = await res.json(); console.log(data);
    } catch (error) {
        this.ERROR_MESSAGE = error.message;
    }
},
async fetch_read_skills() {
    try {
        const res = await fetch(this.endpoint + '/read_skills', {method: 'GET',headers: {'Content-Type': 'application/json',},
        });
        const data = await res.json(); console.log(data);
        this.all_skills = data.message;
        this.all_skills = this.all_skills.sort((a, b) => a.id - b.id).reverse();
        this.ERROR_MESSAGE = "";
    } catch (error) {
        this.ERROR_MESSAGE = error.message;
    }
},
async fetch_read_user_datas_skills() {
    try {
        const res = await fetch(this.endpoint + '/read_user_datas_skills', {method: 'GET',headers: {'Content-Type': 'application/json',},
        });
        const data = await res.json(); console.log(data);

        // dataのフォーマットをhtml用に変換する
        // { "result": "success", "status": 200, "message": [ { "user_data_id": 1, "user_name": "a", "weight_num": 1, "user_type": "company", "offline_online": 0, "skills_id_array": "1,2,3", "skills": [ { "id": 1, "skill": "SKILL_A", "created_at": "2024-03-22T09:24:09.697Z", "updated_at": "2024-03-22T09:24:09.697Z" }, { "id": 2, "skill": "skill_b", "created_at": "2024-03-22T09:24:22.458Z", "updated_at": "2024-03-22T09:24:22.458Z" }, { "id": 3, "skill": "skill_c", "created_at": "2024-03-22T09:24:27.064Z", "updated_at": "2024-03-22T09:24:27.064Z" } ] } ] }
        this.web_data = data;
        this.ERROR_MESSAGE = "";
    } catch (error) {
        this.ERROR_MESSAGE = error.message;
    }
},
async fetch_update_user_datas_online_offline(Id) {
    try {
        console.log(JSON.stringify({user_data_id: Id}));
        const res = await fetch(this.endpoint + '/update_user_datas_online_offline', {method: 'POST',headers: {'Content-Type': 'application/json',},
            body: JSON.stringify({user_data_id: Id}),
        });
        const data = await res.json(); console.log(data);
        this.ERROR_MESSAGE = "";
    } catch (error) {
        this.ERROR_MESSAGE = error.message;
    }
},
async fetch_update_user_datas_weight_num(Id, Weight_Num, Plus_Minus="+") {
    try {
        console.log(JSON.stringify({user_data_id: Id, weight_num: Weight_Num}));
        const Plus_Minus_Num = Plus_Minus === "+" ? 1 : -1;
        const res = await fetch(this.endpoint + '/update_user_datas_weight_num', {method: 'POST',headers: {'Content-Type': 'application/json',},
            body: JSON.stringify({user_data_id: Id, weight_num: Weight_Num+(Plus_Minus_Num) }),
        });
        const data = await res.json(); console.log(data);
        this.ERROR_MESSAGE = "";
    } catch (error) {
        this.ERROR_MESSAGE = error.message;
    }
},
async fetch_update_user_datas_skills_id_array(Id, Skill_Id) {
    try {
        console.log
        (JSON.stringify({user_data_id: Id, skill_id: Skill_Id}));
        const res = await fetch(this.endpoint + '/update_user_datas_skills_id_array', {method: 'POST',headers: {'Content-Type': 'application/json',},
            body: JSON.stringify({user_data_id: Id, skill_id: Skill_Id}),
        });
        const data = await res.json(); console.log(data);
        this.ERROR_MESSAGE = "";
    } catch (error) {
        this.ERROR_MESSAGE = error.message;
    }
},
async fetch_delete_user_datas_skills_id_array(Id, Skill_Id) {
    try {
        console.log(JSON.stringify({user_data_id: Id, skill_id: Skill_Id}));
        const res = await fetch(this.endpoint + '/delete_user_datas_skills_id_array', {method: 'POST',headers: {'Content-Type': 'application/json',},
            body: JSON.stringify({user_data_id: Id, skill_id: Skill_Id}),
        });
        const data = await res.json(); console.log(data);
        this.ERROR_MESSAGE = "";
    } catch (error) {
        this.ERROR_MESSAGE = error.message;
    }
},
async fetch_delete_skills(Skill_Id) {
    try {
        console.log(JSON.stringify({skill_id: Skill_Id}));
        const res = await fetch(this.endpoint + '/delete_skills', {method: 'POST',headers: {'Content-Type': 'application/json',},
            body: JSON.stringify({skill_id: Skill_Id}),
        });
        const data = await res.json(); console.log(data);
        this.ERROR_MESSAGE = "";
    } catch (error) {
        this.ERROR_MESSAGE = error.message;
    }
},
async fetch_read_1_who_find_n_companies_or_n_customers_by_1_skill(Skill_Id) {
try {
    const test_user_data_id = this.login_id_name.id;
    if(Skill_Id === undefined || Skill_Id === null || Skill_Id === 0 || typeof Skill_Id !== 'number') throw new Error('skill_idが不正です');
    const skill_id = Skill_Id;
    const res = await fetch(this.endpoint + '/read_1_who_find_n_companies_or_n_customers_by_1_skill', {method: 'POST',headers: {'Content-Type': 'application/json',},
            body: JSON.stringify({user_data_id: test_user_data_id, skill_id: skill_id}),
    });
    const data = await res.json(); console.log(data);
    data.status !== 200 ? (()=>{throw new Error(data.message)})() : null;
    this.matched_data_ary = data;
    this.matched_data_ary.message = this.matched_data_ary.message.map(user => {
        if(user.skills_id_array){
            user.skills = decodeURIComponent(user.skills_id_array).split(",").map(V=>Number(V)).map(skill => {
                return this.all_skills.find(all_skill => all_skill.id === skill);
            });
        }
        return user;
    });
    this.match_url_array = [];
    this.matched_data_ary.message.forEach(matched_data=>{
        const local_url = 'http://127.0.0.1:3000';
        this.match_url_array.push(
            local_url + '/client6.html'
                + '?own=' + JSON.stringify(this.web_data.message[0])
                + '&another=' + JSON.stringify(matched_data)
                + '&login_id_name=' + JSON.stringify(this.login_id_name)
        );
    });
    this.ERROR_MESSAGE = "";
} catch (error) {
    this.ERROR_MESSAGE = error.message;
}
},
async fetch_insert_matches(When_To_Send="match", Match_User_Id) {
try {
    // this.login_id_name.idがundefinedやnullや0や文字列や配列の場合はエラースロー
    if(this.login_id_name.id === undefined || this.login_id_name.id === null || this.login_id_name.id === 0 || typeof this.login_id_name.id !== 'number') throw new Error('login_id_name.idが不正です');
    const send_id_of_user_data_id = this.login_id_name.id;
    const res = await fetch(this.endpoint + '/insert_match', {method: 'POST',headers: {'Content-Type': 'application/json',},
        body: JSON.stringify({
            send_id: send_id_of_user_data_id,
            receive_id: Match_User_Id,
            when_to_send: When_To_Send
        }),
    });
    this.ERROR_MESSAGE = "";
} catch (error) {
    this.ERROR_MESSAGE = error.message;
}
},
async fetch_delete_matches() { // delete_matches // 開発用のAPIエンドポイント。あとで削除する。// sqlite> DELETE FROM matches;のapp.get
try {
    const res = await fetch(this.endpoint + '/delete_matches', {method: 'POST',headers: {'Content-Type': 'application/json',},
        body: null,
    });
    this.ERROR_MESSAGE = "";
} catch (error) {
    this.ERROR_MESSAGE = error.message;
}
},


toggle_show_full_url() {
      this.show_full_url = !this.show_full_url;
},



async fetch_read_recieve_matches(){
try {
    const res = await fetch(this.endpoint + '/read_recieve_matches', {method: 'POST',headers: {'Content-Type': 'application/json',},
            body: JSON.stringify({user_id: this.login_id_name.id}),
        });
    const data = await res.json(); console.log(data);
    // const data = await res.json(); console.log(data);
    this.receive_matched = data.message;
    this.ERROR_MESSAGE = "";
} catch (error) {
    this.ERROR_MESSAGE = error.message;
}
},

// // send_idが自分のuser_data_idでrecieveの状態のmatchを取得するエンドポイントをfetchする関数
async fetch_read_send_matches(){
try {
    const res = await fetch(this.endpoint + '/read_send_matches', {method: 'POST',headers: {'Content-Type': 'application/json',},
            body: JSON.stringify({user_id: this.login_id_name.id}),
        });
    const data = await res.json(); console.log(data);
    // const data = await res.json(); console.log(data);
    this.send_matched = data.message;
    this.ERROR_MESSAGE = "";
} catch (error) {
    this.ERROR_MESSAGE = error.message;
}
},



// read_matchesをfetchする関数
async fetch_read_matches(){
    const response = await fetch(this.endpoint + '/read_matches');
    const data = await response.json();
    if(data.message){
        hoge = data.message[0];
        fuga = decodeURIComponent(hoge.match_data);
        this.matched = data.message;
    }
    return data;
},


}}).mount('#app');
</script>
</html>