<!-- statusをuserに追加してonline状態の相手とだけマッチする -->
<!-- start_chatボタンを追加してpeerJSでチャットを開始 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./vue@3.2.36.global.prod.js"></script>
    <script src="./peerjs.1.5.2.min.js"></script>
    <style>
        .block_0 {
            /* 右にずらす */
            margin-left: 0rem;
            /* background-color: yellow; */
        }
        .block_1 {
            /* 右にずらす */
            margin-left: 1rem;
            /* background-color: red; */
        }
        .block_2 {
            /* 右にずらす */
            margin-left: 3rem;
            /* background-color: blue; */
        }

        .chat-container {
            display: flex;
            flex-direction: column;
            width: 50%;
            margin: auto;
        }
        .message {
            padding: 10px;
            margin: 10px 0;
            border-radius: 10px;
        }
        .message-left {
            align-self: flex-start;
            background-color: #f0f0f0;
        }
        .message-right {
            align-self: flex-end;
            background-color: #0f0;
        }
        .online{
            /* onlineはbold */
            font-weight: bold;
        }
        .offline{
            /* offlineの場合は灰色 */
            color: gray;
        }
    </style>
</head>
<body>
    <div id="app">
        <!-- input peer id a, length 200 chars -->
        <input type="text" value="peer_id_a" id="peer_id_a" style="width: 200rem;">

        <button @click="parse_url">parse_url</button>
        <!-- user名のselect -->
        <select v-model="selected_user" @change="list_filter">
            <!-- 空欄のリスト(初期値) -->
            <option v-for="a, a_idx in LIST" :value="a.id">{{a.name}}</option>
        </select>



        <!-- selectされたuserからそれに付随するkeyword_listだけを表示(selected_userで選択) -->
        <div v-for="keyword, keyword_idx in selected_user_LIST ">

            <div>
                name: {{keyword.name}}
                <span class="block_1">weight: {{keyword.weight}}
                <button @click="weight_change(keyword.id)">weight +1</button>

                </span>

                <span class="block_1">type: {{keyword.user_type.customer_type}}</span>
            </div>
            
            <div v-for="keyword, keyword_idx in keyword.keyword_list" class="block_2">
                <div>{{keyword.keyword}}
                            <!-- keywordの横に削除ボタン -->
        <button @click="delete_keyword(keyword.id)">削除</button>
                </div>

            </div>
        </div>











        {{ERROR_MESSAGE}}
        <!-- 追加ボタン -->
        <!-- keywordのselect -->
        <select v-model="selected_keyword">
            <option v-for="a, a_idx in keyword_list" :value="a.id">{{a.keyword}}</option>
        </select>
        <button @click="add_keyword">追加</button>
        <!-- オリジナルのキーワードを追加する -->
        <input type="text" v-model="new_keyword">
        <button @click="add_new_keyword">追加</button>
        <div>matching実行(onlineで同じキーワードを持っているuser(company|customer)を表示)
        </div>
        <!-- matching実行 -->
        <button @click="match_exe">match_exe</button>
        <div v-if="other_side_data_link && own_side_data_link">
            <a :href="other_side_data_link">other_side_data_link</a>
            <a :href="own_side_data_link">own_side_data_link</a>
        </div>
        
        <!-- match_resultが一覧でmatch_resultに表示される -->
        <div v-for="a, a_idx in match_result">
            <!-- companyがあればcompanyを表示、customerがあればcustomerを表示 -->
            <div v-if="a.company">
                <!-- start_chatボタン -->
                    <button @click="start_chat(a.company.id, selected_user)">start_chat</button>
                <div>{{a.company.name}} 
                    <span class="block_1">{{ a.company ? "company" : null }}</span>
                    <!-- weightを表示 -->
                    <span class="block_1">{{a.weight}}</span>
                    <span class="block_1">
                    <!-- matchしたキーワードを表示 -->
                    <span v-for="b, b_idx in a.match_keyword_list" class="block_2">
                        <div>{{b.keyword}}</div>
                    </span>
                </span></div>
            </div>
            <div v-if="a.customer">
                <!-- start_chatボタン -->
                <button @click="start_chat(a.customer.id, selected_user)">start_chat</button>
                <div>{{a.customer.name}}
                    <span class="block_1">{{ a.customer ? "customer" : null }}</span>
                    <!-- weightを表示 -->
                    <span class="block_1">{{a.weight}}</span>
                    <span class="block_1">
                    <!-- matchしたキーワードを表示 -->
                    <span v-for="b, b_idx in a.match_keyword_list" class="block_2">
                        <div>{{b.keyword}}</div>
                    </span>
                </span></div>
            </div>

            <!-- <div v-for="b, b_idx in a.match_keyword_list" class="block_2"><div>{{b.keyword}}</div></div> -->
        </div>
        <br>
        <br>
        <br>
        <div class="chat-container">
            <!-- set_all_online_status -->
            <button @click="set_all_online_status">set_all_online_status</button>

            <div :class="a.user_type.customer_type === 'company' ? 'message message-left' : 'message message-right'" v-for="a, a_idx in LIST">
                <!-- aがcompanyならclassがcompany、customerならclassがcustomer -->
                    <div>{{a.name}}
                        {{a.weight}}
                        <!-- reset_selected_user_online_status button -->
                        <span><button @click="reset_selected_user_online_status(a.id)">off</button></span>
                        <!-- set_selected_user_online_status -->
                        <span><button @click="set_selected_user_online_status(a.id)">on</button></span>
                        <!-- on_off -->
                        <span><button @click="on_off(a.id)">on_off</button></span>
                        <!-- online status -->
                        <span class="online" v-if="a.online_status.on_off === 'on'">online</span>
                        <span class="offline" v-else>offline</span>
                        <!-- nullでないならstartとuntilを表示 -->
                        <!-- <span v-if="a.online_status.start">start: {{a.online_status.start}}</span> -->
                        <!-- <span v-if="a.online_status.until">until: {{a.online_status.until}}</span> -->


                        <div class="block_1">{{a.user_type.customer_type}}</div>
                    </div>
                        <div v-for="b, b_idx in a.keyword_list" class="block_2">
                            <div>{{b.keyword}}</div>
                        </div>

            </div>
        </div>

    </div>
</body>
<script>
const app = Vue.createApp({
data() {
return {
    other_side_data_link: '',
    own_side_data_lin: '',
    match_result: [],
    ERROR_MESSAGE: "",
    selected_user: 1,
    selected_keyword: "",
    new_keyword: "",
    user_type_list: [
        {id: 1, customer_type: "company",},
        {id: 2, customer_type: "customer",},
    ],
    user_list: [
        {id: 1, online_status: {start: null, until:null, on_off: "off"}, name: "a", user_type_list_id: 1, keyword_list: [1,2,3,5], weight: 1,},
        {id: 2, online_status: {start: null, until:null, on_off: "off"}, name: "b", user_type_list_id: 1, keyword_list: [3,4], weight: 2,},
        {id: 3, online_status: {start: null, until:null, on_off: "off"}, name: "c", user_type_list_id: 2, keyword_list: [5,6], weight: 0,},
        {id: 4, online_status: {start: null, until:null, on_off: "off"}, name: "d", user_type_list_id: 2, keyword_list: [1,7,8,9], weight: 3,},
    ],
    keyword_list: [
        {id: 1, keyword: "java"},
        {id: 2, keyword: "sql"},
        {id: 3, keyword: "html"},
        {id: 4, keyword: "css"},
        {id: 5, keyword: "javascript"},
        {id: 6, keyword: "php"},
        {id: 7, keyword: "python"},
        {id: 8, keyword: "ruby"},
        {id: 9, keyword: "c"},
    ],
    LIST: [],
    selected_user_LIST: [],

    // user_type_listとuser_listを1:Nで結合
    // user_listとkeyword_listを1:Nで結合(user_listが持つkeword_listは0個でも可)

}
},
watch: {
    list_1: {
     handler(new_val, old_val) {
        // console.log("list_1", this.to_ary(new_val), this.to_ary(old_val));
        // this.make_LIST();
        // this.list_filter();
        // this.exe();
     },
     deep: true
   },
},
mounted() {
    // this.make_LIST();
    this.list_filter();
    this.login_as();
},
beforeUpdated() {
},
updated() {
    
    
},
methods: {
    update_online_status(){
        // selected_user_LISTのonline_statusを更新(startをutfの日時、untilをstartの10分後、on_offを"on"に変更)
        this.selected_user_LIST[0].online_status.start = new Date().toISOString();
        this.selected_user_LIST[0].online_status.until = new Date(new Date().getTime() + 10 * 60000).toISOString();
        this.selected_user_LIST[0].online_status.on_off = "on";
    },
    // 全てのuserのonline_statusを初期化する関数
    reset_all_online_status(){
        this.user_list = this.user_list.map(user => {
            user.online_status.start = null;
            user.online_status.until = null;
            user.online_status.on_off = "off";
            return user;
        });
    },
    // 指定したuserのonline_statusを初期化する関数
    reset_selected_user_online_status(Id){
        this.user_list = this.user_list.map(user => {
            if (user.id === Id){
                user.online_status.start = null;
                user.online_status.until = null;
                user.online_status.on_off = "off";
            }
            return user;
        });
    },
    // 指定したuserのonline_statusをonにする関数
    set_selected_user_online_status(Id){
        this.user_list = this.user_list.map(user => {
            if (user.id === Id){
                user.online_status.start = new Date().toISOString();
                user.online_status.until = new Date(new Date().getTime() + 10 * 60000).toISOString();
                user.online_status.on_off = "on";
            }
            return user;
        });
    },
    on_off(Id){
        this.reset_other_user_online_status(Id);
        this.set_selected_user_online_status(Id);
    },

// 全てのuserのonline_statusをonにする関数
    set_all_online_status(){
        this.user_list = this.user_list.map(user => {
            user.online_status.start = new Date().toISOString();
            user.online_status.until = new Date(new Date().getTime() + 10 * 60000).toISOString();
            user.online_status.on_off = "on";
            return user;
        });
    },
    // 指定したuser以外は全て初期化する関数
    reset_other_user_online_status(Id){
        this.user_list = this.user_list.map(user => {
            if (user.id !== Id){
                user.online_status.start = null;
                user.online_status.until = null;
                user.online_status.on_off = "off";
            }
            return user;
        });
    },




    list_filter(){
        console.log("list_filter", this.selected_user);
        this.make_LIST();
        this.selected_user_LIST = this.LIST.filter(user => user.id === this.selected_user);
        this.update_online_status();
    },

make_LIST(){
    this.LIST = this.user_list.map(user => {
        return {
            name: user.name,
            online_status: user.online_status,
            id: user.id,
            weight: user.weight,
            user_type: this.user_type_list.find(user_type => user_type.id === user.user_type_list_id),
            keyword_list: user.keyword_list.map(keyword_id => this.keyword_list.find(keyword => keyword.id === keyword_id)),
        }
    });

},

exe(){
    console.log("abc");
},
to_ary(from){
    return JSON.parse(JSON.stringify(from));
},

add_keyword(){
    try {
        console.log("add_keyword", this.selected_keyword);
    const user = this.user_list.find(user => user.id === this.selected_user);
        // 同じキーワードがある場合は追加しない 
        // エラースローのワンライナー
        if (user.keyword_list.some(keyword_id => keyword_id === this.selected_keyword)) throw new Error("すでに追加されています");
    user.keyword_list.push(this.selected_keyword);
    this.list_filter();
    // 問題なく追加できた場合はERROR_MESSAGEを空にする
    this.ERROR_MESSAGE = "";
    } catch (error) {
        this.ERROR_MESSAGE = error.message;
    }
},
delete_keyword(keyword_id){
    try {
        console.log("delete_keyword", keyword_id);
        const user = this.user_list.find(user => user.id === this.selected_user);
        // 削除するキーワードが存在しない場合はエラースロー
        if (!user.keyword_list.some(keyword => keyword === keyword_id)) throw new Error("削除するキーワードが存在しません");
        user.keyword_list = user.keyword_list.filter(keyword => keyword !== keyword_id);
        this.list_filter();
        // 問題なく削除できた場合はERROR_MESSAGEを空にする
        this.ERROR_MESSAGE = "";
    } catch (error) {
        this.ERROR_MESSAGE = error.message;
    }
},
add_new_keyword(){
    try {
        console.log("add_new_keyword", this.new_keyword);
        // 同じキーワードがある場合は追加しない 
        // エラースローのワンライナー
        if (this.keyword_list.some(keyword => keyword.keyword === this.new_keyword)) throw new Error("すでに追加されています");
        this.keyword_list.push({
            id: this.keyword_list.length + 1,
            keyword: this.new_keyword,
        });
        this.list_filter();
        // 追加したキーワードをadd_keywordする
        // keyword_listの最後の要素が追加されたキーワード
        this.selected_keyword = this.keyword_list[this.keyword_list.length - 1].id;

        this.add_keyword();


        // 問題なく追加できた場合はERROR_MESSAGEを空にする
        this.ERROR_MESSAGE = "";
    } catch (error) {
        this.ERROR_MESSAGE = error.message;
    }
},
// selected_userとのマッチ機能(companyとcustomerが同じキーワードを持っていたらマッチングしてmatch_resultに追加される(weightが大きい方が優先)
//         // selected_userがcompanyの場合はresultはcustomerのリスト、selected_userがcustomerの場合はresultはcompanyのリスト
weight_change(id){
    this.LIST = this.LIST.map(user => {
        if (user.id === id){
            // user.weightは0が下限。weightが0の場合はweightを変更しない
            user.weight > 0 ? user.weight += 1 : null;
        }
        return user;
    });

},
match_exe(){
    // match_resultからstatusがonlineのuserのみを抽出する関数
    const match_result_online = (res) =>{
        return res.filter(user => user.online_status.on_off === "on");
    }


    // selected_userがcompanyかcustomerかを判定
    const selected_user = this.user_list.find(user => user.id === this.selected_user);
    let match_result = [];
    if (selected_user.user_type_list_id === 1){
        // selected_userがcompanyの場合
        // selected_userがcompanyの場合はresultはcustomerのリスト
        const customer_list = this.user_list.filter(user => user.user_type_list_id === 2);
        for (const customer of customer_list){
            // selected_userとcustomerが共通して持っているキーワードを抽出
            const match_keyword_num = selected_user.keyword_list.filter(keyword => customer.keyword_list.some(customer_keyword => customer_keyword === keyword));
            // match_keyword_listの番号から実際のキーワードの配列を取得
            const match_keyword_list = match_keyword_num.map(keyword_id => this.keyword_list.find(keyword => keyword.id === keyword_id));

            if (match_keyword_list.length > 0){
                match_result.push({
                    customer: customer,
                    weight: customer.weight,
                    online_status: customer.online_status,
                    match_keyword_list: match_keyword_list,
                });
            }
        }
    } ;
    if (selected_user.user_type_list_id === 2){
        // selected_userがcustomerの場合
        // selected_userがcustomerの場合はresultはcompanyのリスト
        const company_list = this.user_list.filter(user => user.user_type_list_id === 1);
        for (const company of company_list){
            // selected_userとcompanyが共通して持っているキーワードを抽出
            const match_keyword_num = selected_user.keyword_list.filter(keyword => company.keyword_list.some(company_keyword => company_keyword === keyword));
            // match_keyword_listの番号から実際のキーワードの配列を取得
            const match_keyword_list = match_keyword_num.map(keyword_id => this.keyword_list.find(keyword => keyword.id === keyword_id));
            if (match_keyword_list.length > 0){
                match_result.push({
                    company: company,
                    weight: company.weight,
                    online_status: company.online_status,
                    match_keyword_list: match_keyword_list,
                });
            }
        }
    } ;
    console.log(match_result);
        // match_resultをweightの降順にソートする関数
    const sort_by_weight = (res) =>{
        return match_result.sort((a, b) => {
            if (a.weight < b.weight) return 1;
            if (a.weight > b.weight) return -1;
            return 0;
        });
    }

    // match_result_onlineでfilterする
    match_result = match_result_online(match_result);

    this.match_result = sort_by_weight(match_result);

    this.match_result = match_result;


},

login_as(){
    // userをget paramで受け取って、そのidをselected_userにセットする
    // get param
    const url = new URL(window.location.href);
    const user = url.searchParams.get('user');
    // userからidを取得
    if(user){
        console.log(user);
        console.log(typeof user);
        const user_id_list = this.user_list.filter(user => user.name === "b");

        console.log(user_id_list);
        console.log(user_id_list[0]);
        this.selected_user = user_id_list[0].id;
        this.selected_user_LIST = this.LIST.filter(user => user.id === this.selected_user);
    }
},
start_chat(other_side_id, own_side_id){
    // other_side_id, own_side_idがnullやundefinedでない場合はchatを開始する
            // other_side_idがあるかfindする
    other_side_bool = this.LIST.find(user => user.id === other_side_id);
    own_side_bool = this.LIST.find(user => user.id === own_side_id);
    if (other_side_id && own_side_id && other_side_bool && own_side_bool){
        console.log("start_chat", other_side_id, own_side_id);

    }
    other_side_data = this.LIST.filter(user => user.id === other_side_id)[0];
    own_side_data = this.LIST.filter(user => user.id === own_side_id)[0];
    // 同じパスのclient3.htmlにget paramでJSON.stringifyされたother_side_idもしくはown_side_idを渡すリンクを作る
    // 例:http://127.0.0.1:3000/client3.html?other_side_data_str=*****
    var url = window.location.href;
    var dirname = url.substring(0, url.lastIndexOf('/'));
    // this.other_side_data_link = dirname + "/match2.html?other_side_data_str=" + JSON.stringify(other_side_data);
    this.other_side_data_link = dirname + "/match2.html?other_side_data_str=" + JSON.stringify(other_side_data) + "&own_side_data_str=" + JSON.stringify(own_side_data);
    // this.own_side_data_link = dirname + "/match2.html?own_side_data_str=" + JSON.stringify(own_side_data);
    this.own_side_data_link = dirname + "/match2.html?other_side_data_str=" + JSON.stringify(own_side_data) + "&own_side_data_str=" + JSON.stringify(other_side_data);
    // this.link_1 = dirname + "/match2.html?other_side_data_str=" + JSON.stringify(other_side_data) + "&own_side_data_str=" + JSON.stringify(own_side_data);
    // this.link_2 = dirname + "/match2.html?other_side_data_str=" + JSON.stringify(own_side_data) + "&own_side_data_str=" + JSON.stringify(other_side_data);
},
parse_url(){
    const url = new URL(window.location.href);
    const other_side_data_str = url.searchParams.get('other_side_data_str');
    const own_side_data_str = url.searchParams.get('own_side_data_str');
    if (other_side_data_str){
        console.log("other_side_data_str", other_side_data_str);
        console.log(JSON.parse(other_side_data_str));
    }
    if (own_side_data_str){
        console.log("own_side_data_str", own_side_data_str);
        console.log(JSON.parse(own_side_data_str));
    }
},

}}).mount('#app');

// const sequence_of_peer = () =>{
    let peer_id_a = "";
    let peer_id_b = "";

    let peer = new Peer({
        host: 'cypress-serious-bird.glitch.me',
        secure: true,
        path: '/peerjs/myapp'
    });

const set_url = () =>{
    const url = new URL(window.location.href);
    // const other_side_data_str = url.searchParams.get('other_side_data_str');
    let all_params = new URLSearchParams(window.location.search);
    // 全てのget_paramを#peer_id_aにセットする
    document.querySelector("#peer_id_a").value = all_params.toString();

    // 三項演算子でget_paramからother_side_data_strを取得、nullの場合は実行しない
    LIST_1 = get_other_side_data_str() ? get_other_side_data_str() : LIST_1;
    // 三項演算子でget_paramからown_side_data_strを取得、nullの場合は実行しない
    LIST_2 = get_own_side_data_str() ? get_own_side_data_str() : LIST_2;

// chat_aryをアップデートする
// {date_time: get_iso8601(), id: 0, my_user_list: LIST_1, another_user_list: LIST_2, name:"a", type:"company", text_id: 0, text: "今通話可能"},
// {date_time: get_iso8601(), id: 1, my_user_list: LIST_2, another_user_list: LIST_1, name:"b", type:"customer", text_id: 1, text: "通話OK"},
chat_ary.push(
    {date_time: get_iso8601(), id: 0, my_user_list: LIST_1, another_user_list: LIST_2, name:"a", type:"company", text_id: 0, text: "今通話可能"},
)
chat_ary.push(
    {date_time: get_iso8601(), id: 1, my_user_list: LIST_2, another_user_list: LIST_1, name:"b", type:"customer", text_id: 1, text: "通話OK"},
)


}

    // peer idを発行する関数(peer_id_aとpeer_id_b、それぞれ別のidを発行してそれぞれを変数に代入)
    // function get_peer_id(){
        peer.on('open', (id) => {
            peer_id_a = id;
        });
        // peer_id_bの方が後からopenされるためmake_url_str_a()とmake_url_str_b()を実行する
        peer.on('open', (id) => {
            peer_id_b = id;
            set_url();
        });
    // }

    // let url = "http://127.0.0.1:3000/client4.html"
    let url = "http://127.0.0.1:3000/match2.html"

    let LIST_1 = {};
    let LIST_2 = {};
// get_paramからother_side_data_strを取得する関数
const get_other_side_data_str = () => {
    const url = new URL(window.location.href);
    const other_side_data_str = url.searchParams.get('other_side_data_str');
    if (other_side_data_str){
        console.log("other_side_data_str", other_side_data_str);
        console.log(JSON.parse(other_side_data_str));
    }
    return JSON.parse(other_side_data_str);
}

// get_paramからown_side_data_strを取得する関数
const get_own_side_data_str = () => {
    const url = new URL(window.location.href);
    const own_side_data_str = url.searchParams.get('own_side_data_str');
    if (own_side_data_str){
        console.log("own_side_data_str", own_side_data_str);
        console.log(JSON.stringify(own_side_data_str));
    }
    return JSON.parse(own_side_data_str);
}





    let url_str_a = "";
    let url_str_b = "";
    // aには対向のbを、bには対向のaをセットする、それぞれ用の2つの関数


    // return {get_peer_id, make_url_str_a, make_url_str_b,url_str_a, url_str_b};
// }
// const {get_peer_id, make_url_str_a, make_url_str_b,url_str_a, url_str_b} = sequence_of_peer();

const text_id_ary = [
        {id: 0, text: "今通話可能", text_stamp_url: "https://upload.wikimedia.org/wikipedia/commons/c/c1/Google_%22G%22_logo.svg"},
        {id: 1, text: "通話OK", text_stamp_url: "https://upload.wikimedia.org/wikipedia/commons/c/c1/Google_%22G%22_logo.svg"},
        {id: 2, text: "こんにちは", text_stamp_url: "https://upload.wikimedia.org/wikipedia/commons/c/c1/Google_%22G%22_logo.svg"},
        {id: 3, text: "今NG", text_stamp_url: "https://upload.wikimedia.org/wikipedia/commons/c/c1/Google_%22G%22_logo.svg"},
    ];
// iso8601形式の日時を返す関数
const get_iso8601 = () => {
    const date = new Date();
    return date.toISOString();
}


let chat_ary = [];


</script>
</html>