<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>simple match</title>
    <script src="./vue@3.2.36.global.prod.js"></script>
    <script src="./lib/qrcode.js"></script>
    <!-- <script src="./peerjs.1.5.2.min.js"></script> -->
    <style>
.fn_box{
    display: flex;
    justify-content: space-between;
}
.add_tag{
    /* align-self: flex-start; */

}
.right_side_clear_filter_str{


}
        .fn_box{
        }
        .clear_filter_str{

        }
        .tab{
            /* width 100% かつ　子要た素を均等に */
            display: flex;
            height: 2.5rem;
            
        }
        .tab > * {
            flex: 1;
            height: 1.5rem;
        }
        /* tabを左右のborderで区切る */
        .tablinks{
            border-left: #000 0.1rem solid;
        }

        
        .Tab6 > p{
            /* pタグ同士の行間を0.1remにする */
            line-height: 0.1rem;


        }
/* <header>
    <h1>COONERER</h1>
    <h2>co-op connecter</h2>
</header> */
header{
    display: inline-block;
}
header > h1{
    font-size: 1rem;
    text-align: left;
    margin-bottom: 0;
    display: inline-block;

}
header > h2{
    font-size: 0.6rem;
    text-align: left;
    /* gray */
    color: #808080;
    /* margin top 0 */
    margin-top: 0;
    margin-left: 0.1rem;
    /* 上方向の余白を無くす */
    display: inline-block;

}

.search{
    /* 検索ボックス */
    width: 20%;
    height: 2rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    font-size: 1rem;
    box-sizing: border-box;
    float: right;
}
/* searchをクリックしたらwidthが60%になる */
.search:focus{
    width: 60%;
}

/* タブのスタイル */
/* .tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
} */
.tab {
    position: fixed;
    bottom: 0;
    width: 100%;
}
/* タブボタンのスタイル */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* タブボタンのホバー時のスタイル */
.tab button:hover {
  background-color: #ddd;
}

/* アクティブなタブボタンのスタイル */
.tab button.active {
  background-color: #ccc;
}

/* タブコンテンツのスタイル */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}



    
        .block_0 {
            /* 右にずらす */
            margin-left: 0rem;
            /* background-color: yellow; */
        }
        .block_1 {
            /* 右にずらす */
            margin-left: 1rem;
            /* background-color: red; */
        }
        .block_2 {
            /* 右にずらす */
            margin-left: 3rem;
            /* background-color: blue; */
        }

        .chat-container {
            display: flex;
            flex-direction: column;
            /* width: 50%; */
        }
        .message {
            padding: 10px;
            border-radius: 10px;
            border: 1px solid #000;
            /* 左右は中央に　上下は0.1rem */
            /* margin: 0.1rem; */
            /* 1rem */
            /* margin: 1rem; */
            align-self: center;
            width: 90%;
            margin-top: 0.3rem;


        }
        /* .message-left {
            align-self: flex-start;
            background-color: #f0f0f0;
        }
        .message-right {
            align-self: flex-end;
            border: 1px solid #000;
        } */
        .online{
            /* onlineはbold */
            font-weight: bold;
        }
        .offline{
            /* offlineの場合は灰色 */
            color: gray;
        }
        .new_user_insert{
            /* 新規ユーザー追加のフォーム */
            margin-top: 1rem;
        }
    </style>
</head>
<body>
<div id="app">
<!-- header -->
<header onclick="openTab(event, 'Tab1')">
    <h1>COONERER</h1>
    <h2>co-op connecter ver:0.0.1.7</h2>
    <!-- 検索ボックス -->
</header>
<input type="text" class="search" placeholder="search" v-model="search_str" @input="text_filter" @change="text_filter">



<!-- <button @click="login_as()">login_as</button> -->
<!-- <button @click="login_as({id: 7, name: 'C'})">login_as({id: 7, name: 'C'})</button> -->
<!-- <button @click="fetch_delete_matches()">fetch_delete_matches</button> -->
<!-- <div v-if="chat_url">
    <a :href="chat_url" target="_blank">chat_url</a>
</div> -->
<div v-if="chat_url_for_receiver_user">
    <a :href="chat_url_for_receiver_user" target="_blank">chat_url_for_receiver_user</a>
</div>    
<div class="tab">
    <button class="tablinks" onclick="openTab(event, 'Tab1')">加</button>
    <button class="tablinks" onclick="openTab(event, 'Tab2')" id="login">入</button>
    <button class="tablinks" onclick="openTab(event, 'Tab3')">出</button>
    <button class="tablinks" onclick="openTab(event, 'Tab4')">探</button>
    <button class="tablinks" onclick="openTab(event, 'Tab5')">付</button>
    <button class="tablinks" onclick="openTab(event, 'Tab6')">名</button>
    <!-- <button class="tablinks" onclick="openTab(event, 'Tab7')">7</button> -->
    <!-- <button class="tablinks" onclick="openTab(event, 'Tab8')">8</button> -->
    <!-- <button class="tablinks" onclick="openTab(event, 'Tab9')">9</button> -->
</div>

<div id="Tab1" class="tabcontent">
    <div class="new_user_insert">
    <!-- <div>ユーザー追加</div> -->
    <!-- <div>userName: <input type="text" v-model="userName" placeholder="Enter user name"></div> -->
    <!-- <div>admin_password(追加済み): <input type="password" v-model="admin_password" placeholder="only English and Number"></div> -->
    <button @click="fetch_add_user_data">ユーザー追加(パスワードは再発行できないから忘れたら新規登録してね)</button>
    ※24時間毎に全データを消すけどヤバいデータは載せないようにしよう
    </div>

    <div v-if="new_user_id && new_password">
        <div>新規ユーザーid: <input type="text" v-model="new_user_id" placeholder="Enter user id"></div>
        <div>新規ユーザーパスワード <input type="text" v-model="new_password" placeholder="Enter password"></div>
        新規user_url: <a :href="new_url_for_user_and_password">{{ new_url_for_user_and_password }}</a>
        <!-- <button @click="make_qr_code_with_id_and_password">make_qr_code_with_id_and_password</button> -->
    </div>
    <div ref="qrcode"></div>
</div>

<div id="Tab2" class="tabcontent">
    追加したユーザーのデータは明日中に全て削除されます
    <div>login_name: <input type="text" name="" id="" v-model="login_name"></div>
    <!-- password -->
    <div>password: <input type="password" v-model="password" placeholder="only English and Number"></div>
    <button @click="login_as">login</button>
</div>

<div id="Tab3" class="tabcontent">
    <!-- clear_filter_str button -->
    <button @click="clear_filter_str">絞り込みを解除</button>
    <!-- br -->
    <br>
    <br>
    <br>
    <!-- all_skill -->
    <div>全てのスキル一覧 クリックしたらユーザー表示が絞れる</div>
    <div v-if="the_skill_someone_have().length > 0">
        <div v-for="all_skills_one, all_skills_one_idx in the_skill_someone_have()">
            <button @click="filter_by_skill(all_skills_one.skill)">{{all_skills_one.skill}}</button>
            <button @click="like_tag(all_skills_one.id)">♡</button>
            <!-- like_volumeの数によって❤️をその分量分表示する -->
            <span v-for="like_volume in all_skills_one.like_volume">❤️</span>
        </div>
    </div>

</div>

<div id="Tab4" class="tabcontent">
    こんなスキル持ってる人いませんか一覧
    <!-- <select>
        <option v-for="b, b_idx in the_skill_no_one_have()" :value="b.id">{{b.skill}}</option>
    </select> -->
    <div v-if="the_skill_no_one_have().length > 0">
        <div v-for="all_skills_one, all_skills_one_idx in the_skill_no_one_have()">
            {{all_skills_one.skill}}
            <!-- <button @click="like_tag(all_skills_one.id)">❤️ {{ all_skills_one.id }}</button> -->
            <button @click="like_tag(all_skills_one.id)">♡</button>
            <!-- like_volumeの数によって❤️をその分量分表示する -->
            <span v-for="like_volume in all_skills_one.like_volume">❤️</span>
        </div>
    </div>
</div>

<div id="Tab5" class="tabcontent">
    <!-- 10行 -->
    複数のタグを改行して入力してください
    <textarea name="" id="" v-model="multiple_skills"
        cols="30" rows="10" placeholder="複数のタグを改行して入力してください"
    ></textarea>
    <button @click="fetch_insert_multiple_skills">タグの一括入力</button>
</div>

<div id="Tab6" class="tabcontent">
    <div>このページのqrコード</div>
    <div ref="qrcode2"></div>
    <!-- en -->
    <p>Start in 5 seconds without registration
    Visualize the skills of people gathering in the community
    Visualize the skills needed
        App that connects people

    ※Even in a 1-hour exchange meeting with 20 participants, everyone can interact with everyone
    ※Connect with another community that has the skills that community needs
    Example: A community that can program but wants a designer <=> A community that can design but wants a programmer</p>

    <!-- ja -->
    <p>登録不要で5秒で始められる
    コミュニティに集まる人たちのスキルを可視化
    必要とされているスキルを可視化し
        人々を繋ぎ合わせるアプリ

    ※20人参加の1時間の交流会でも全員が全員と交流できる
    ※そのコミュニティが必要とするスキルを持つ別コミュニティと接続できる
    例: プログラミングはできるけどデザインできる人が欲しいコミュニティ <=> デザインできるけどプログラミングできる人が欲しいコミュニティ</p>

<!-- <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfDhjKJkjG8rK1QH6GpAajG4D1FtTCjLu1L6v4DRbtVQEv_PA/viewform?embedded=true" width="640" height="480" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe> -->
<!-- <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeMwpfi8gBoVTXIpiqhUzUZAR2quE6QipA1tekXU3CpuSYDOQ/viewform?embedded=true" width="512" height="512" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe> -->
<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeMwpfi8gBoVTXIpiqhUzUZAR2quE6QipA1tekXU3CpuSYDOQ/viewform?embedded=true" width="128" height="128" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
</div>

<div id="Tab7" class="tabcontent"></div>
<div id="Tab8" class="tabcontent"></div>
<div id="Tab9" class="tabcontent"></div>


<div v-if="login_id_name && matched_data_ary && matched_data_ary.message[0] && matched_data_ary.message[0].user_data_id">
    {{ 
    matched_data_ary.message
        .map((a, IDX) => {
        return [
        "send_id", login_id_name.id,
        "receive_id", matched_data_ary.message[ IDX ].user_data_id,
        ]
        })
    }}
</div>

<div v-if="web_data && matched_data_ary">
    <div v-for="match_data, match_data_idx in matched_data_ary.message">
        {{ match_data }}
        <!-- <button @click="fetch_insert_matches('match', match_data.user_data_id)">fetch_insert_matches</button> -->
    </div>
</div>
{{ERROR_MESSAGE}}
<!-- <div v-if="web_data && current_user" :class="current_user.user_type === 'company' ? 'message message-right' : 'message message-left'"> -->
<div v-if="web_data && current_user" :class="current_user.user_type === 'company' ? 'message' : 'message'">
    あなたのIDとスキル
            <!-- <div>user_data_id: {{current_user.user_data_id}}</div> -->
            <!-- <div>user_name: {{current_user.user_name}}</div> -->
            <div>{{current_user.user_name}}</div>
            <!-- 0はオフライン,1はオンライン -->
            <!-- offline_online:  -->
            <div>{{current_user.offline_online ? '現在はonline' : '現在はoffline'}}
                <button @click="fetch_update_user_datas_online_offline(current_user.user_data_id)">{{ current_user.offline_online ? 'offlineにする' : 'onlineにする' }}</button>
            </div>
            <span>タグ: </span>
            <div v-for="b, b_idx in current_user.skills">
                <!-- <span>{{decodeURIComponent(b.skill)}}</span> -->
                <!-- <span>{{decodeURIComponent(b.skill)}}</span> を filter_by_skillのボタンに -->
                <button @click="filter_by_skill(b.skill)">{{decodeURIComponent(b.skill)}}</button>
                <!--             <button @click="filter_by_skill(all_skills_one.skill)">{{all_skills_one.skill}}</button> -->

                <!-- <button @click="fetch_read_1_who_find_n_companies_or_n_customers_by_1_skill(b.id)">match</button> -->
                <button @click="fetch_delete_user_datas_skills_id_array(current_user.user_data_id, b.id)">削除</button>
            </div>
            <!-- fetch_update_user_datas_skills_id_arrayでselectタグとoptionタグでユーザーに追加する -->
            <select v-model="selected_skill_id" @change="show_selected_skill_id(current_user.user_data_id)" @click="show_selected_skill_id(current_user.user_data_id)">
                <option v-for="b, b_idx in all_skills" :value="b.id">{{b.skill}}</option>
            </select>



            <!-- <div v-if="all_skills.length > 0">
                <span v-for="all_skills_one, all_skills_one_idx in all_skills">
                    <button @click="skill_str">{{all_skills_one.skill}}</button>
                </span>
            </div> -->
</div>

<div>
    <div class="fn_box">
        <div class="add_tag">
            <input type="text" v-model="skill_str" size="20" placeholder="SNSのIDでもスキルでも趣味でも何でも追加して">
            <button @click="fetch_add_skill_str">タグを追加</button>
        </div>
        <button @click="clear_filter_str" class="right_side_clear_filter_str">絞り込みを解除</button>
    </div>

            <div v-if="web_data">
            <div v-if="web_data.message" class="chat-container">
            <!-- <div v-if="reversed(web_data.message)" class="chat-container"> -->
                <!-- <div v-for="a, a_idx in web_data.message" :class="a.user_type === 'company' ? 'message message-right' : 'message message-left'"> -->
                <div v-for="a, a_idx in filtered(reversed(web_data.message))" :class="a.user_type === 'company' ? 'message' : 'message'">
                    <!-- {{a}} -->
                    <!-- <div>user_data_id: {{a.user_data_id}}</div> -->
                    <!-- <div>user_name: {{a.user_name}}</div> -->
                    <div>{{a.user_name}}</div>
                    <!-- <div>offline_online: {{a.offline_online}}
                        <button @click="fetch_update_user_datas_online_offline(a.user_data_id)">onlineにする</button>
                    </div> -->
                    <span>タグ: </span>
                    <span v-for="b, b_idx in a.skills">
                        <!-- <span>{{decodeURIComponent(b.skill)}}</span> -->
                        <button @click="filter_by_skill(b.skill)">{{decodeURIComponent(b.skill)}}</button>
                        <!-- <span>{{b.skill}}</span> -->
                        <!-- <button @click="fetch_delete_user_datas_skills_id_array(a.user_data_id, b.id)">|</button> -->
                        <span>{{' '}}</span>
                    </span>
                </div>
            </div>
            </div>
</div>


</div>
</body>
<script>
function openTab(evt, tabName) {
    console.log(evt.currentTarget.className, tabName);
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(tabName).style.display = "block";
  evt.currentTarget.className += " active";
}

const app = Vue.createApp({
data() {
return {
    // for text filter
    original_LIST: [],
    search_str: '',
    // for text filter

    multiple_skills: `java
php
sql`, //multiple_skillsは\nの改行コードを含む文字列
    filter_str: '',
    new_url_for_user_and_password: '',
    new_user_id: '',
    new_password: '',

    admin_password: 'taro',
    password: '',
    login_name: '',
    selected_skill_id: '',

    chat_url_for_receiver_user: '',
    chat_url: '',
    url_for_receiver_user: '',
    sample_data_ary: [],

    show_full_url: false,
    login_id_name: {id: 1, name: "a"},

    now_checking_match: false,
    match_url_array: [],
    matched_data_ary: null,
    // endpoint: 'http://localhost:8000',
    endpoint: 'https://cotton-concrete-catsup.glitch.me',
    // endpoint: 'http://127.0.0.1:3000',

    web_data: null,
    userName: '',
    weightNum: 1,
    userType: '',
    onlineOffline: '',
    skills: [],
    all_skills: [],

    ERROR_MESSAGE: "",
}
},
watch: {
    list_1: {
    handler(new_val, old_val) {
    },
    deep: true
   },
   search_str: {
    handler(new_val, old_val) {
        this.text_filter();
    },
    deep: true
   },
},
async mounted() {
    this.userName = "a";
    this.weightNum = 1;
    this.userType = "company";
    this.onlineOffline = 0;
    await this.fetch_read_skills();
    await this.fetch_read_user_datas_skills();

    this.get_qr_code_with_id_and_password();
    this.setup_text_filter();

    // login_nameとpasswordが入力されている場合はloginを試す
    try {
        if(this.login_name && this.password){
            this.login_as();
        }
    } catch (error) {
        
    } finally {
        // tab1を開く
        document.querySelector("#Tab1").click();
        this.site_qr_code();
    }

    // tab2を開く
    // document.querySelector("#Tab2").click();


    // this.login_name === '' ? this.login_name = 'a' : null;
    // document.querySelector("#login").click();
},
beforeUpdated() {
},
updated() {
    
    
},
methods: {
site_qr_code(){
    new QRCode(this.$refs.qrcode2, {
        // text: "https://taroyanaka.github.io/peerjs_webrtc/simple_match.html" +
        text: window.location.origin + window.location.pathname
        ,
        width: 256,
        height: 256,
        colorDark : "#000000",
        colorLight : "#ffffff",
        correctLevel : QRCode.CorrectLevel.H
    });
},
setup_text_filter(){
    this.original_LIST = JSON.parse(JSON.stringify(this.web_data.message));
},
text_filter(){
    if(this.search_str === ''){
        this.web_data.message = JSON.parse(JSON.stringify(this.original_LIST));
    }else{
        this.web_data.message = JSON.parse(JSON.stringify(this.original_LIST)).filter(a => a.skills.some(skill => skill.skill.includes(this.search_str)));
    }
},
// レンダリング
filtered(ary){
    if(this.filter_str){
        return ary.filter(user => user.skills.some(skill => skill.skill === encodeURIComponent(this.filter_str)));
    }
    return ary;
},
reversed(array_like){
    return [...array_like].reverse();
},
the_skill_no_one_have(){
    // どのユーザーも所持していないスキルの配列を返す
    return this.all_skills.filter(skill => !this.web_data.message.some(user => user.skills.some(user_skill => user_skill.skill === skill.skill)));
},
the_skill_someone_have(){
    // ユーザーが所持してるスキルの配列を返す
    return this.all_skills.filter(skill => this.web_data.message.some(user => user.skills.some(user_skill => user_skill.skill === skill.skill)));
},
filter_by_skill(Skill_Str){
    this.filter_str = Skill_Str;
},
clear_filter_str(){
    this.filter_str = '';
},
get_qr_code_with_id_and_password(){
    let currentDomain = window.location.protocol + "//" + window.location.hostname + ":3004";
    // console.log(currentDomain);
    let port = window.location.port;
    // console.log(port);

    if(new URL(window.location.href).searchParams.get('user_id') && new URL(window.location.href).searchParams.get('password')){
        this.login_name = new URL(window.location.href).searchParams.get('user_id');
        this.password = new URL(window.location.href).searchParams.get('password');
        // ログインタブをクリックして開く
        document.querySelector("#login").click();
    }
},
make_qr_code_with_id_and_password(){
    console.log(this.new_user_id, this.new_password);
    // 既存のQRCodeがあったら削除する
    if (this.qrcode) this.qrcode.clear();
    new QRCode(this.$refs.qrcode, {
        // text: "https://taroyanaka.github.io/peerjs_webrtc/simple_match.html" +
        text: window.location.origin + window.location.pathname +
            '?user_id=' + this.new_user_id + '&password=' + this.new_password
        ,
        width: 256,
        height: 256,
        colorDark : "#000000",
        colorLight : "#ffffff",
        correctLevel : QRCode.CorrectLevel.H
    });
    // this.new_url_for_user_and_password = window.location.href + '?user_id=' + this.new_user_id + '&password=' + this.new_password;
    this.new_url_for_user_and_password = window.location.origin + window.location.pathname + '?user_id=' + this.new_user_id + '&password=' + this.new_password;
},
login_as(Id_Name={id: 5, name: "a"}){
    if(this.web_data){
        this.current_user = this.web_data.message.find(user => user.user_name === this.login_name);
    }
    this.login_id_name = Id_Name;
},
to_ary(from){
    return JSON.parse(JSON.stringify(from));
},
async web_data_set_up(){
try {
    await this.fetch_read_skills();
    await this.fetch_read_user_datas_skills();
    this.setup_text_filter();
        if(this.login_name && this.password){
            this.login_as();
        }
    this.skill_str = '';
} catch (error) {
    console.log(error);
}
},
async fetch_insert_multiple_skills(){
try {
    const res = await fetch(this.endpoint + '/insert_multiple_skills', {method: 'POST',headers: {'Content-Type': 'application/json',},
        body: JSON.stringify({multiple_skills: this.multiple_skills}),
    });
    const data = await res.json(); console.log(data);
    this.ERROR_MESSAGE = "";
    await this.web_data_set_up();
} catch (error) {
    this.ERROR_MESSAGE = error.message;
}
},
async fetch_add_user_data() {
    try {
    this.skills.length === 0 ? this.skills.push(this.all_skills[0].id) : null;
    const res = await fetch(this.endpoint + '/insert_user_datas', {method: 'POST',headers: {'Content-Type': 'application/json',},
        body: JSON.stringify({
            user_name: this.userName,
            admin_password: this.admin_password,
            weight_num: this.weightNum,
            user_type: this.userType,
            offline_online: this.onlineOffline,
            skills_id_array: this.skills,
        }),
    });
    const data = await res.json(); console.log(data);
    this.new_user_id = data.new_user_id;
    this.new_password = data.password_24_char;
    this.ERROR_MESSAGE = "";
    this.make_qr_code_with_id_and_password();
    } catch (error) {
        this.ERROR_MESSAGE = error.message;
    }
},
async fetch_add_skill_str() {
try {
    this.skill_str === undefined || this.skill_str === null || this.skill_str.length === 0 || this.skill_str.length > 24 || this.skill_str.includes(' ') || this.skill_str.includes('　') ? (()=>{throw new Error('skillが不正です')})() : null;
    const res = await fetch(this.endpoint + '/insert_skills', {method: 'POST',headers: {'Content-Type': 'application/json',},
        body: JSON.stringify({ skill: this.skill_str,}),
    });
    const data = await res.json(); console.log(data);
    await this.web_data_set_up();
} catch (error) {
    this.ERROR_MESSAGE = error.message;
}
},
async fetch_read_skills() {
try {
    const res = await fetch(this.endpoint + '/read_skills', {method: 'GET',headers: {'Content-Type': 'application/json',},
    });
    const data = await res.json(); console.log(data);
    // data.messageが空の配列の場合は早期リターン
    if (data.message.length === 0) return;
    this.all_skills = data.message;
    // this.all_skillsの配列をdecodeuricomponentする
    this.all_skills = this.all_skills.map(Skill => {
        Skill.skill = decodeURIComponent(Skill.skill);
        return Skill;
    });

    this.all_skills = this.all_skills.sort((a, b) => a.id - b.id).reverse();
    this.ERROR_MESSAGE = "";
} catch (error) {
    this.ERROR_MESSAGE = error.message;
}
},
async fetch_read_user_datas_skills() {
try {
    const res = await fetch(this.endpoint + '/read_user_datas_skills', {method: 'GET',headers: {'Content-Type': 'application/json',},
    });
    const data = await res.json(); console.log(data);
    this.web_data = data;
    this.ERROR_MESSAGE = "";
} catch (error) {
    this.ERROR_MESSAGE = error.message;
}
},
async fetch_update_user_datas_online_offline(Id) {
try {
    const res = await fetch(this.endpoint + '/update_user_datas_online_offline', {method: 'POST',headers: {'Content-Type': 'application/json',},
        body: JSON.stringify({user_data_id: Id,
            password: this.password
        }),
    });
    const data = await res.json(); console.log(data);
    this.ERROR_MESSAGE = "";
    await this.fetch_read_skills();
    await this.fetch_read_user_datas_skills();
    await this.login_as();
} catch (error) {
    this.ERROR_MESSAGE = error.message;
}
},
async fetch_update_user_datas_weight_num(Id, Weight_Num, Plus_Minus="+") {
    try {
        console.log(JSON.stringify({user_data_id: Id, weight_num: Weight_Num}));
        const Plus_Minus_Num = Plus_Minus === "+" ? 1 : -1;
        const res = await fetch(this.endpoint + '/update_user_datas_weight_num', {method: 'POST',headers: {'Content-Type': 'application/json',},
            body: JSON.stringify({user_data_id: Id, weight_num: Weight_Num+(Plus_Minus_Num) }),
        });
        const data = await res.json(); console.log(data);
        this.ERROR_MESSAGE = "";
    } catch (error) {
        this.ERROR_MESSAGE = error.message;
    }
},
async fetch_update_user_datas_skills_id_array(Id, Skill_Id, Password) {
try {
    const res = await fetch(this.endpoint + '/update_user_datas_skills_id_array', {method: 'POST',headers: {'Content-Type': 'application/json',},
        body: JSON.stringify({user_data_id: Id, skill_id: Skill_Id,
            password: Password
        }),
    });
    const data = await res.json(); console.log(data);
    this.ERROR_MESSAGE = "";
    await this.fetch_read_skills();
    await this.fetch_read_user_datas_skills();
    await this.login_as();
} catch (error) {
    this.ERROR_MESSAGE = error.message;
}
},
async fetch_delete_user_datas_skills_id_array(Id, Skill_Id) {
try {
    console.log(JSON.stringify({user_data_id: Id, skill_id: Skill_Id}));
    const res = await fetch(this.endpoint + '/delete_user_datas_skills_id_array', {method: 'POST',headers: {'Content-Type': 'application/json',},
        body: JSON.stringify({user_data_id: Id, skill_id: Skill_Id,
            password: this.password
        }),
    });
    const data = await res.json(); console.log(data);
    this.ERROR_MESSAGE = "";
    await this.fetch_read_skills();
    await this.fetch_read_user_datas_skills();
    await this.login_as();
} catch (error) {
    this.ERROR_MESSAGE = error.message;
}
},
async fetch_delete_skills(Skill_Id) {
try {
    console.log(JSON.stringify({skill_id: Skill_Id}));
    const res = await fetch(this.endpoint + '/delete_skills', {method: 'POST',headers: {'Content-Type': 'application/json',},
        body: JSON.stringify({skill_id: Skill_Id}),
    });
    const data = await res.json(); console.log(data);
    this.ERROR_MESSAGE = "";
} catch (error) {
    this.ERROR_MESSAGE = error.message;
}
},
async fetch_read_1_who_find_n_companies_or_n_customers_by_1_skill(Skill_Id) {
try {
    const test_user_data_id = this.login_id_name.id;
    if(Skill_Id === undefined || Skill_Id === null || Skill_Id === 0 || typeof Skill_Id !== 'number') throw new Error('skill_idが不正です');
    const skill_id = Skill_Id;
    const res = await fetch(this.endpoint + '/read_1_who_find_n_companies_or_n_customers_by_1_skill', {method: 'POST',headers: {'Content-Type': 'application/json',},
            body: JSON.stringify({user_data_id: test_user_data_id, skill_id: skill_id}),
    });
    const data = await res.json(); console.log(data);
    data.status !== 200 ? (()=>{throw new Error(data.message)})() : null;
    this.matched_data_ary = data;
    this.matched_data_ary.message = this.matched_data_ary.message.map(user => {
        if(user.skills_id_array){
            user.skills = decodeURIComponent(user.skills_id_array).split(",").map(V=>Number(V)).map(skill => {
                return this.all_skills.find(all_skill => all_skill.id === skill);
            });
        }
        return user;
    });
    this.match_url_array = [];
    this.matched_data_ary.message.forEach(matched_data=>{
        const local_url = 'http://127.0.0.1:3000';
        this.match_url_array.push(
            local_url + '/client6.html'
                + '?own=' + JSON.stringify(this.web_data.message[0])
                + '&another=' + JSON.stringify(matched_data)
                + '&login_id_name=' + JSON.stringify(this.login_id_name)
        );
    });
    this.ERROR_MESSAGE = "";
} catch (error) {
    this.ERROR_MESSAGE = error.message;
}
},
async fetch_insert_matches(When_To_Send="match", Match_User_Id) {
try {
    // this.login_id_name.idがundefinedやnullや0や文字列や配列の場合はエラースロー
    if(this.login_id_name.id === undefined || this.login_id_name.id === null || this.login_id_name.id === 0 || typeof this.login_id_name.id !== 'number') throw new Error('login_id_name.idが不正です');
    const send_id_of_user_data_id = this.login_id_name.id;
    const res = await fetch(this.endpoint + '/insert_match', {method: 'POST',headers: {'Content-Type': 'application/json',},
        body: JSON.stringify({
            send_id: send_id_of_user_data_id,
            receive_id: Match_User_Id,
            when_to_send: When_To_Send
        }),
    });
    this.ERROR_MESSAGE = "";
} catch (error) {
    this.ERROR_MESSAGE = error.message;
}
},
async fetch_delete_matches() { // delete_matches // 開発用のAPIエンドポイント。あとで削除する。// sqlite> DELETE FROM matches;のapp.get
try {
    const res = await fetch(this.endpoint + '/delete_matches', {method: 'POST',headers: {'Content-Type': 'application/json',},
        body: null,
    });
    this.ERROR_MESSAGE = "";
} catch (error) {
    this.ERROR_MESSAGE = error.message;
}
},
async show_selected_skill_id(User_Id){
    await this.fetch_update_user_datas_skills_id_array(User_Id, this.selected_skill_id, this.password);
},
async fetch_delete_all_records(){
    // ローカル環境と本番環境で生成されるパスワードが異なる(別の文字列をそれぞれの環境で生成している)ので、
    // ローカルで生成したパスワードをセットした状態だと本番環境でパスワードが一致しないためエラーになる
    // 完全なサンプルユーザー(サンプルパスワードを用意した)を作るfetchの関数を作るか、
    // endpointを切り替える際はfetch_delete_all_recordsを毎回行うかする

    // もしくは根本的にgoogleログインなどのuid固定をするか
    try {
        const res = await fetch(this.endpoint + '/delete_all_records', {method: 'POST',headers: {'Content-Type': 'application/json',},
            body: null,
        });
        const data = await res.json(); console.log(data);
        this.ERROR_MESSAGE = "";
    } catch (error) {
        this.ERROR_MESSAGE = error.message;
    }
},
async like_tag(Tag_Id){
try {
    console.log(Tag_Id);
    const res = await fetch(this.endpoint + '/like_tag', {method: 'POST',headers: {'Content-Type': 'application/json',},
        body: JSON.stringify({skill_id: Tag_Id}),
    });
    const data = await res.json(); console.log(data);
    this.ERROR_MESSAGE = "";
    await this.web_data_set_up();
} catch (error) {
    this.ERROR_MESSAGE = error.message;
}
},

}}).mount('#app');
</script>
</html>