<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>simple match</title>
    <script src="./vue@3.2.36.global.prod.js"></script>
    <script src="./lib/qrcode.js"></script>
    <!-- <script src="./peerjs.1.5.2.min.js"></script> -->
    <style>
.fn_box{
    display: flex;
    justify-content: space-between;
}
.add_tag{
    /* align-self: flex-start; */

}
.right_side_clear_filter_str{


}
        .fn_box{
        }
        .clear_filter_str{

        }
        .tab{
            /* width 100% かつ　子要素を均等に */
            display: flex;
            height: 2.5rem;
            
        }
        .tab > * {
            flex: 1;
            height: 1.5rem;
        }
        /* tabを左右のborderで区切る */
        .tablinks{
            border-left: #000 0.1rem solid;
        }

        
        .Tab6 > p{
            /* pタグ同士の行間を0.1remにする */
            line-height: 0.1rem;


        }
/* <header>
    <h1>COONERER</h1>
    <h2>co-op connecter</h2>
</header> */
header{
    display: inline-block;
}
header > h1{
    font-size: 1rem;
    text-align: left;
    margin-bottom: 0;
    display: inline-block;

}
header > h2{
    font-size: 0.6rem;
    text-align: left;
    /* gray */
    color: #808080;
    /* margin top 0 */
    margin-top: 0;
    margin-left: 0.1rem;
    /* 上方向の余白を無くす */
    display: inline-block;

}

.search{
    /* 検索ボックス */
    width: 20%;
    height: 2rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    font-size: 1rem;
    box-sizing: border-box;
    float: right;
}
/* searchをクリックしたらwidthが60%になる */
.search:focus{
    width: 60%;
}

/* タブのスタイル */
/* .tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
} */
.tab {
    position: fixed;
    bottom: 0;
    width: 100%;
}
/* タブボタンのスタイル */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* タブボタンのホバー時のスタイル */
.tab button:hover {
  background-color: #ddd;
}

/* アクティブなタブボタンのスタイル */
.tab button.active {
  background-color: #ccc;
}

/* タブコンテンツのスタイル */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}



    
        .block_0 {
            /* 右にずらす */
            margin-left: 0rem;
            /* background-color: yellow; */
        }
        .block_1 {
            /* 右にずらす */
            margin-left: 1rem;
            /* background-color: red; */
        }
        .block_2 {
            /* 右にずらす */
            margin-left: 3rem;
            /* background-color: blue; */
        }

        .chat-container {
            display: flex;
            flex-direction: column;
            /* width: 50%; */
        }
        .message {
            padding: 10px;
            border-radius: 10px;
            border: 1px solid #000;
            /* 左右は中央に　上下は0.1rem */
            /* margin: 0.1rem; */
            /* 1rem */
            /* margin: 1rem; */
            align-self: center;
            width: 90%;
            margin-top: 0.3rem;


        }
        /* .message-left {
            align-self: flex-start;
            background-color: #f0f0f0;
        }
        .message-right {
            align-self: flex-end;
            border: 1px solid #000;
        } */
        .online{
            /* onlineはbold */
            font-weight: bold;
        }
        .offline{
            /* offlineの場合は灰色 */
            color: gray;
        }
        .new_user_insert{
            /* 新規ユーザー追加のフォーム */
            margin-top: 1rem;
        }
    </style>
</head>
<body>
<div id="app">
<!-- header -->
<header onclick="openTab(event, 'Tab1')">
    <h1>COONERER</h1>
    <h2>co-op connecter ver:0.0.1.1</h2>
    <!-- 検索ボックス -->
</header>
<input type="text" class="search" placeholder="search" v-model="search_str" @input="text_filter" @change="text_filter">



<!-- <button @click="login_as()">login_as</button> -->
<!-- <button @click="login_as({id: 7, name: 'C'})">login_as({id: 7, name: 'C'})</button> -->
<!-- <button @click="fetch_delete_matches()">fetch_delete_matches</button> -->
<!-- <div v-if="chat_url">
    <a :href="chat_url" target="_blank">chat_url</a>
</div> -->
<div v-if="chat_url_for_receiver_user">
    <a :href="chat_url_for_receiver_user" target="_blank">chat_url_for_receiver_user</a>
</div>    
<div class="tab">
    <button class="tablinks" onclick="openTab(event, 'Tab1')">加</button>
    <button class="tablinks" onclick="openTab(event, 'Tab2')" id="login">入</button>
    <button class="tablinks" onclick="openTab(event, 'Tab3')">出</button>
    <button class="tablinks" onclick="openTab(event, 'Tab4')">探</button>
    <button class="tablinks" onclick="openTab(event, 'Tab5')">付</button>
    <button class="tablinks" onclick="openTab(event, 'Tab6')">名</button>
    <!-- <button class="tablinks" onclick="openTab(event, 'Tab7')">7</button> -->
    <!-- <button class="tablinks" onclick="openTab(event, 'Tab8')">8</button> -->
    <!-- <button class="tablinks" onclick="openTab(event, 'Tab9')">9</button> -->
</div>

<div id="Tab1" class="tabcontent">
    <div class="new_user_insert">
    <!-- <div>ユーザー追加</div> -->
    <!-- <div>userName: <input type="text" v-model="userName" placeholder="Enter user name"></div> -->
    <!-- <div>admin_password(追加済み): <input type="password" v-model="admin_password" placeholder="only English and Number"></div> -->
    <button @click="fetch_add_user_data">ユーザー追加(パスワードは再発行できないから忘れたら新規登録してね)</button>
    ※24時間毎に全データを消すけどヤバいデータは載せないようにしよう
    </div>

    <div v-if="new_user_id && new_password">
        <div>新規ユーザーid: <input type="text" v-model="new_user_id" placeholder="Enter user id"></div>
        <div>新規ユーザーパスワード <input type="text" v-model="new_password" placeholder="Enter password"></div>
        新規user_url: <a :href="new_url_for_user_and_password">{{ new_url_for_user_and_password }}</a>
        <!-- <button @click="make_qr_code_with_id_and_password">make_qr_code_with_id_and_password</button> -->
    </div>
    <div ref="qrcode"></div>
</div>

<div id="Tab2" class="tabcontent">
    追加したユーザーのデータは明日中に全て削除されます
    <div>login_name: <input type="text" name="" id="" v-model="login_name"></div>
    <!-- password -->
    <div>password: <input type="password" v-model="password" placeholder="only English and Number"></div>
    <button @click="login_as">login</button>
</div>

<div id="Tab3" class="tabcontent">
    <!-- clear_filter_str button -->
    <button @click="clear_filter_str">絞り込みを解除</button>
    <!-- br -->
    <br>
    <br>
    <br>
    <!-- all_skill -->
    <div>全てのスキル一覧 クリックしたらユーザー表示が絞れる</div>
    <div v-if="the_skill_someone_have().length > 0">
        <div v-for="all_skills_one, all_skills_one_idx in the_skill_someone_have()">
            <button @click="filter_by_skill(all_skills_one.skill)">{{all_skills_one.skill}}</button>
            <button @click="like_tag(all_skills_one.id)">♡</button>
            <!-- like_volumeの数によって❤️をその分量分表示する -->
            <span v-for="like_volume in all_skills_one.like_volume">❤️</span>
        </div>
    </div>

</div>

<div id="Tab4" class="tabcontent">
    こんなスキル持ってる人いませんか一覧
    <!-- <select>
        <option v-for="b, b_idx in the_skill_no_one_have()" :value="b.id">{{b.skill}}</option>
    </select> -->
    <div v-if="the_skill_no_one_have().length > 0">
        <div v-for="all_skills_one, all_skills_one_idx in the_skill_no_one_have()">
            {{all_skills_one.skill}}
            <!-- <button @click="like_tag(all_skills_one.id)">❤️ {{ all_skills_one.id }}</button> -->
            <button @click="like_tag(all_skills_one.id)">♡</button>
            <!-- like_volumeの数によって❤️をその分量分表示する -->
            <span v-for="like_volume in all_skills_one.like_volume">❤️</span>
        </div>
    </div>
</div>

<div id="Tab5" class="tabcontent">
    <!-- 10行 -->
    複数のタグを改行して入力してください
    <textarea name="" id="" v-model="multiple_skills"
        cols="30" rows="10" placeholder="複数のタグを改行して入力してください"
    ></textarea>
    <button @click="fetch_insert_multiple_skills">タグの一括入力</button>
</div>

<div id="Tab6" class="tabcontent">
    <div>このページのqrコード</div>
    <div ref="qrcode2"></div>
    <!-- en -->
    <p>Start in 5 seconds without registration
    Visualize the skills of people gathering in the community
    Visualize the skills needed
        App that connects people

    ※Even in a 1-hour exchange meeting with 20 participants, everyone can interact with everyone
    ※Connect with another community that has the skills that community needs
    Example: A community that can program but wants a designer <=> A community that can design but wants a programmer</p>

    <!-- ja -->
    <p>登録不要で5秒で始められる
    コミュニティに集まる人たちのスキルを可視化
    必要とされているスキルを可視化し
        人々を繋ぎ合わせるアプリ

    ※20人参加の1時間の交流会でも全員が全員と交流できる
    ※そのコミュニティが必要とするスキルを持つ別コミュニティと接続できる
    例: プログラミングはできるけどデザインできる人が欲しいコミュニティ <=> デザインできるけどプログラミングできる人が欲しいコミュニティ</p>
</div>

<div id="Tab7" class="tabcontent"></div>
<div id="Tab8" class="tabcontent"></div>
<div id="Tab9" class="tabcontent"></div>


<div v-if="login_id_name && matched_data_ary && matched_data_ary.message[0] && matched_data_ary.message[0].user_data_id">
    {{ 
    matched_data_ary.message
        .map((a, IDX) => {
        return [
        "send_id", login_id_name.id,
        "receive_id", matched_data_ary.message[ IDX ].user_data_id,
        ]
        })
    }}
</div>

<div v-if="web_data && matched_data_ary">
    <div v-for="match_data, match_data_idx in matched_data_ary.message">
        {{ match_data }}
        <!-- <button @click="fetch_insert_matches('match', match_data.user_data_id)">fetch_insert_matches</button> -->
    </div>
</div>
{{ERROR_MESSAGE}}
<!-- <div v-if="web_data && current_user" :class="current_user.user_type === 'company' ? 'message message-right' : 'message message-left'"> -->
<div v-if="web_data && current_user" :class="current_user.user_type === 'company' ? 'message' : 'message'">
    あなたのIDとスキル
            <!-- <div>user_data_id: {{current_user.user_data_id}}</div> -->
            <!-- <div>user_name: {{current_user.user_name}}</div> -->
            <div>{{current_user.user_name}}</div>
            <!-- 0はオフライン,1はオンライン -->
            <!-- offline_online:  -->
            <div>{{current_user.offline_online ? '現在はonline' : '現在はoffline'}}
                <button @click="fetch_update_user_datas_online_offline(current_user.user_data_id)">{{ current_user.offline_online ? 'offlineにする' : 'onlineにする' }}</button>
            </div>
            <span>タグ: </span>
            <div v-for="b, b_idx in current_user.skills">
                <!-- <span>{{decodeURIComponent(b.skill)}}</span> -->
                <!-- <span>{{decodeURIComponent(b.skill)}}</span> を filter_by_skillのボタンに -->
                <button @click="filter_by_skill(b.skill)">{{decodeURIComponent(b.skill)}}</button>
                <!--             <button @click="filter_by_skill(all_skills_one.skill)">{{all_skills_one.skill}}</button> -->

                <!-- <button @click="fetch_read_1_who_find_n_companies_or_n_customers_by_1_skill(b.id)">match</button> -->
                <button @click="fetch_delete_user_datas_skills_id_array(current_user.user_data_id, b.id)">削除</button>
            </div>
            <!-- fetch_update_user_datas_skills_id_arrayでselectタグとoptionタグでユーザーに追加する -->
            <select v-model="selected_skill_id" @change="show_selected_skill_id(current_user.user_data_id)" @click="show_selected_skill_id(current_user.user_data_id)">
                <option v-for="b, b_idx in all_skills" :value="b.id">{{b.skill}}</option>
            </select>



            <!-- <div v-if="all_skills.length > 0">
                <span v-for="all_skills_one, all_skills_one_idx in all_skills">
                    <button @click="skill_str">{{all_skills_one.skill}}</button>
                </span>
            </div> -->
</div>

<div>
    <div class="fn_box">
        <div class="add_tag">
            <input type="text" v-model="skill_str" size="50" placeholder="SNSのIDでもスキルでも趣味でも何でも追加して">
            <button @click="fetch_add_skill_str">タグを追加</button>
        </div>
        <button @click="clear_filter_str" class="right_side_clear_filter_str">絞り込みを解除</button>
    </div>

            <div v-if="web_data">
            <div v-if="web_data.message" class="chat-container">
            <!-- <div v-if="reversed(web_data.message)" class="chat-container"> -->
                <!-- <div v-for="a, a_idx in web_data.message" :class="a.user_type === 'company' ? 'message message-right' : 'message message-left'"> -->
                <div v-for="a, a_idx in filtered(reversed(web_data.message))" :class="a.user_type === 'company' ? 'message' : 'message'">
                    <!-- {{a}} -->
                    <!-- <div>user_data_id: {{a.user_data_id}}</div> -->
                    <!-- <div>user_name: {{a.user_name}}</div> -->
                    <div>{{a.user_name}}</div>
                    <!-- <div>offline_online: {{a.offline_online}}
                        <button @click="fetch_update_user_datas_online_offline(a.user_data_id)">onlineにする</button>
                    </div> -->
                    <span>タグ: </span>
                    <span v-for="b, b_idx in a.skills">
                        <!-- <span>{{decodeURIComponent(b.skill)}}</span> -->
                        <button @click="filter_by_skill(b.skill)">{{decodeURIComponent(b.skill)}}</button>
                        <!-- <span>{{b.skill}}</span> -->
                        <!-- <button @click="fetch_delete_user_datas_skills_id_array(a.user_data_id, b.id)">|</button> -->
                        <span>{{' '}}</span>
                    </span>
                </div>
            </div>
            </div>
</div>


</div>
</body>
<script>
function openTab(evt, tabName) {
    console.log(evt.currentTarget.className, tabName);
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(tabName).style.display = "block";
  evt.currentTarget.className += " active";
}

const app = Vue.createApp({
data() {
return {
    // オリジナルLIST
    original_LIST: [],
    search_str: '',
    multiple_skills: `java
php
sql`, //multiple_skillsは\nの改行コードを含む文字列
    filter_str: '',
    new_url_for_user_and_password: '',
    new_user_id: '',
    new_password: '',

    admin_password: 'taro',
    password: '',
    login_name: '',
    selected_skill_id: '',


    chat_url_for_receiver_user: '',
    chat_url: '',
    url_for_receiver_user: '',
    sample_data_ary: [],

receive_matched: [{
    "id": 4,
    "send_id": 5,
    "receive_id": 7,
    "when_to_send": "match",
    "sender_peer_id": null,
    "receiver_peer_id": null,
    "created_at": "2024-04-13T23:44:47.374Z",
    "updated_at": "2024-04-13T23:44:47.374Z"
}],
    send_matched: [
    {
        "id": 4,
        "send_id": 5,
        "receive_id": 7,
        "when_to_send": "receive",
        "sender_peer_id": "2745cdd4-d9a0-44a4-bd9f-7fcd89d9bb9c",
        "receiver_peer_id": null,
        "created_at": "2024-04-13T23:44:47.374Z",
        "updated_at": "2024-04-13T23:44:47.374Z"
    }
],
    all_matched: [
    {
        "id": 4,
        "send_id": 5,
        "receive_id": 7,
        "when_to_send": "receive",
        "sender_peer_id": null,
        "receiver_peer_id": null,
        "created_at": "2024-04-13T23:44:47.374Z",
        "updated_at": "2024-04-13T23:44:47.374Z"
    }
],
    waiting_matched: [
    {
        "id": 4,
        "send_id": 5,
        "receive_id": 7,
        "when_to_send": "waiting",
        "sender_peer_id": "2745cdd4-d9a0-44a4-bd9f-7fcd89d9bb9c",
        "receiver_peer_id": null,
        "created_at": "2024-04-13T23:44:47.374Z",
        "updated_at": "2024-04-13T23:44:47.374Z"
    }
],

    matched: [
    {
        "id": 4,
        "send_id": 5,
        "receive_id": 7,
        "when_to_send": "receive",
        "sender_peer_id": "2745cdd4-d9a0-44a4-bd9f-7fcd89d9bb9c",
        "receiver_peer_id": null,
        "created_at": "2024-04-13T23:44:47.374Z",
        "updated_at": "2024-04-13T23:44:47.374Z"
    },
    {
        "id": 5,
        "send_id": 5,
        "receive_id": 8,
        "when_to_send": "match",
        "sender_peer_id": null,
        "receiver_peer_id": null,
        "created_at": "2024-04-14T00:18:18.231Z",
        "updated_at": "2024-04-14T00:18:18.231Z"
    }
],

    show_full_url: false,
    login_id_name: {id: 1, name: "a"},
    text_id_ary: [
        {id: 0, text: "今通話可能", text_stamp_url: "https://upload.wikimedia.org/wikipedia/commons/c/c1/Google_%22G%22_logo.svg"},
        {id: 1, text: "通話OK", text_stamp_url: "https://upload.wikimedia.org/wikipedia/commons/c/c1/Google_%22G%22_logo.svg"},
        {id: 2, text: "こんにちは", text_stamp_url: "https://upload.wikimedia.org/wikipedia/commons/c/c1/Google_%22G%22_logo.svg"},
        {id: 3, text: "今NG", text_stamp_url: "https://upload.wikimedia.org/wikipedia/commons/c/c1/Google_%22G%22_logo.svg"},
    ],
    now_checking_match: false,
    match_url_array: [],
    matched_data_ary: null,
    // endpoint: 'http://localhost:8000',
    endpoint: 'https://cotton-concrete-catsup.glitch.me',
    // endpoint: 'http://127.0.0.1:3000',
    // endpoint: 'https://cotton-concrete-catsup.glitch.me',

    web_data: null,
    userName: '',
    weightNum: 1,
    userType: '',
    onlineOffline: '',
    skills: [],
    all_skills: [],

    other_side_data_link: '',
    own_side_data_link: '',
    match_result: [],
    ERROR_MESSAGE: "",
    selected_user: 1,
    selected_keyword: "",
    new_keyword: "",
    user_type_list: [
        {id: 1, customer_type: "company",},
        {id: 2, customer_type: "customer",},
    ],
    user_list: [
        {id: 1, online_status: {start: null, until:null, on_off: "off"}, name: "a", user_type_list_id: 1, keyword_list: [1,2,3,5], weight: 1,},
        {id: 2, online_status: {start: null, until:null, on_off: "off"}, name: "b", user_type_list_id: 1, keyword_list: [3,4], weight: 2,},
        {id: 3, online_status: {start: null, until:null, on_off: "off"}, name: "c", user_type_list_id: 2, keyword_list: [5,6], weight: 0,},
        {id: 4, online_status: {start: null, until:null, on_off: "off"}, name: "d", user_type_list_id: 2, keyword_list: [1,7,8,9], weight: 3,},
    ],
    keyword_list: [
        {id: 1, keyword: "java"},
        {id: 2, keyword: "sql"},
        {id: 3, keyword: "html"},
        {id: 4, keyword: "css"},
        {id: 5, keyword: "javascript"},
        {id: 6, keyword: "php"},
        {id: 7, keyword: "python"},
        {id: 8, keyword: "ruby"},
        {id: 9, keyword: "c"},
    ],
    LIST: [],
    selected_user_LIST: [],
}
},
watch: {
    list_1: {
    handler(new_val, old_val) {
    },
    deep: true
   },
   search_str: {
    handler(new_val, old_val) {
        this.text_filter();
    },
    deep: true
   },
},
async mounted() {
    this.list_filter();
    this.userName = "a";
    this.weightNum = 1;
    this.userType = "company";
    this.onlineOffline = 0;
    await this.fetch_read_skills();
    await this.fetch_read_user_datas_skills();

    this.get_qr_code_with_id_and_password();
    this.setup_text_filter();

    // login_nameとpasswordが入力されている場合はloginを試す
    try {
        if(this.login_name && this.password){
            this.login_as();
        }
    } catch (error) {
        
    } finally {
        // tab1を開く
        document.querySelector("#Tab1").click();
        this.site_qr_code();
    }

    // tab2を開く
    // document.querySelector("#Tab2").click();


    // this.login_name === '' ? this.login_name = 'a' : null;
    // document.querySelector("#login").click();
},
beforeUpdated() {
},
updated() {
    
    
},
methods: {
site_qr_code(){
    new QRCode(this.$refs.qrcode2, {
        // text: "https://taroyanaka.github.io/peerjs_webrtc/simple_match.html" +
        text: window.location.origin + window.location.pathname
        ,
        width: 256,
        height: 256,
        colorDark : "#000000",
        colorLight : "#ffffff",
        correctLevel : QRCode.CorrectLevel.H
    });
},
async web_data_set_up(){
try {
    await this.fetch_read_skills();
    await this.fetch_read_user_datas_skills();
    this.setup_text_filter();
        if(this.login_name && this.password){
            this.login_as();
        }
    this.skill_str = '';
} catch (error) {
    console.log(error);
}
},
setup_text_filter(){
    this.original_LIST = JSON.parse(JSON.stringify(this.web_data.message));
},
text_filter(){
    console.log("text_filter");
    // this.search_strが入力されたら、this.web_data.messageの中からthis.search_strを含むものだけを表示する
    // まずoriginal_LISTにthis.web_data.messageのコピーを代入
    if(this.search_str === ''){
        // If search_str is empty, restore web_data.message from original_LIST
        this.web_data.message = JSON.parse(JSON.stringify(this.original_LIST));
    }else{
        // this.original_LIST = JSON.parse(JSON.stringify(this.web_data.message));
        // console.log(JSON.parse(JSON.stringify(this.original_LIST)).filter(a => a.includes(this.search_str)));
        this.web_data.message = JSON.parse(JSON.stringify(this.original_LIST)).filter(a => a.skills.some(skill => skill.skill.includes(this.search_str)));
    }
},
async like_tag(Tag_Id){
    try {
        console.log(Tag_Id);
        const res = await fetch(this.endpoint + '/like_tag', {method: 'POST',headers: {'Content-Type': 'application/json',},
            body: JSON.stringify({skill_id: Tag_Id}),
        });
        const data = await res.json(); console.log(data);
        this.ERROR_MESSAGE = "";
        await this.web_data_set_up();
    } catch (error) {
        this.ERROR_MESSAGE = error.message;
    }    
},
reversed(array_like){
    return [...array_like].reverse();
},
async fetch_insert_multiple_skills(){
    try {
    // req.body.multiple_skillsは\nの改行コードを含む文字列
    // const multiple_skills_ary = req.body.multiple_skills.split("\n");
        const res = await fetch(this.endpoint + '/insert_multiple_skills', {method: 'POST',headers: {'Content-Type': 'application/json',},
            body: JSON.stringify({multiple_skills: this.multiple_skills}),
        });
        const data = await res.json(); console.log(data);
        this.ERROR_MESSAGE = "";
        await this.web_data_set_up();
    } catch (error) {
        this.ERROR_MESSAGE = error.message;
    }

},
the_skill_no_one_have(){
    // どのユーザーも所持していないスキルの配列を返す
    return this.all_skills.filter(skill => !this.web_data.message.some(user => user.skills.some(user_skill => user_skill.skill === skill.skill)));
},
the_skill_someone_have(){
    // どのユーザーも所持していないスキルの配列を返す
    return this.all_skills.filter(skill => this.web_data.message.some(user => user.skills.some(user_skill => user_skill.skill === skill.skill)));
},
filtered(ary){
    if(this.filter_str){
        return ary.filter(user => user.skills.some(skill => skill.skill === encodeURIComponent(this.filter_str)));
    }
    return ary;
},
filter_by_skill(Skill_Str){
    this.filter_str = Skill_Str;
},
clear_filter_str(){
    this.filter_str = '';
},
get_qr_code_with_id_and_password(){
    let currentDomain = window.location.protocol + "//" + window.location.hostname + ":3004";
    // console.log(currentDomain);
    let port = window.location.port;
    // console.log(port);

    if(new URL(window.location.href).searchParams.get('user_id') && new URL(window.location.href).searchParams.get('password')){
        this.login_name = new URL(window.location.href).searchParams.get('user_id');
        this.password = new URL(window.location.href).searchParams.get('password');
        // ログインタブをクリックして開く
        document.querySelector("#login").click();
    }
},
make_qr_code_with_id_and_password(){
    console.log(this.new_user_id, this.new_password);
    // 既存のQRCodeがあったら削除する
    if (this.qrcode) this.qrcode.clear();
    new QRCode(this.$refs.qrcode, {
        // text: "https://taroyanaka.github.io/peerjs_webrtc/simple_match.html" +
        text: window.location.origin + window.location.pathname +
            '?user_id=' + this.new_user_id + '&password=' + this.new_password
        ,
        width: 256,
        height: 256,
        colorDark : "#000000",
        colorLight : "#ffffff",
        correctLevel : QRCode.CorrectLevel.H
    });
    // this.new_url_for_user_and_password = window.location.href + '?user_id=' + this.new_user_id + '&password=' + this.new_password;
    this.new_url_for_user_and_password = window.location.origin + window.location.pathname + '?user_id=' + this.new_user_id + '&password=' + this.new_password;
},


make_chat_url_for_receiver_user(Match_Id, Send_Id, receive_Id){
try {
    console.log("make_chat_url_for_receiver_user");
    // waiting_matchedの中にlogin_id_name.idがあるか確認
    // sender_peer_idかreceiver_peer_idのどちらかがnullであればchat_urlを作成
    // どちらもnullでなければchat_urlを作成しない
    // sender_peer_idがnullであれば、senderとしてchat_urlを作成
    // receiver_peer_idがnullであれば、receiverとしてchat_urlを作成
    if (!Match_Id) throw new Error("Match_Idがありません");
    if (!this.waiting_matched) throw new Error("waiting_matchedがありません");
    if (!Send_Id || !receive_Id) throw new Error("Send_Idかreceive_Idがありません");
    if (!this.login_id_name.id) throw new Error("login_id_name.idがありません");
    const Sender_Or_receiver = this.waiting_matched.find(match => match.id === Match_Id).send_id === this.login_id_name.id ? 'sender' : 'receiver';
    const chat_url_for_receiver_user = 'http://127.0.0.1:3000' + '/client6.html?match_id=' + Match_Id + '&send_id=' + Send_Id + '&receive_id=' + receive_Id + '&sender_or_receiver=' + 'receiver';
    this.chat_url_for_receiver_user = chat_url_for_receiver_user;
} catch (error) {
    console.log(error.message);
    this.ERROR_MESSAGE = error.message;
}
},
async fetch_read_waiting_matches(){
try {
    const res = await fetch(this.endpoint + '/read_waiting_matches', {method: 'POST',headers: {'Content-Type': 'application/json',},
            body: JSON.stringify({user_id: this.login_id_name.id}),
        });
    const data = await res.json(); console.log(data);
    this.waiting_matched = data.message;
    this.ERROR_MESSAGE = "";
} catch (error) {
    this.ERROR_MESSAGE = error.message;
}
},
make_chat_url_with_get_param(Match_Id, Send_Id, receive_Id){
    console.log(Match_Id, Send_Id, receive_Id);
    try{
        if (!Match_Id) throw new Error("Match_Idがありません");
        if (!this.all_matched) throw new Error("all_matchedがありません");
        // Send_Idとreceive_Idがパラメーターとして受け取ってるか確認
        if (!Send_Id || !receive_Id) throw new Error("Send_Idかreceive_Idがありません");
        // this.login_id_name.idを確認
        if (!this.login_id_name.id) throw new Error("login_id_name.idがありません");
        // all_matchedの中にMatch_Idがあるか確認。そのmatch_idのsend_idとreceive_idを取得。login_id_name.idがsend_idであれば'sender'、receive_idであれば'receiver'を取得
        const Sender_Or_receiver = this.all_matched.find(match => match.id === Match_Id).send_id === this.login_id_name.id ? 'sender' : 'receiver';
        // urlにmatch_idとsend_idとreceive_idとsender_or_receiverをget paramで付与して返す
        const chat_url = 'http://127.0.0.1:3000' + '/client6.html?match_id=' + Match_Id + '&send_id=' + Send_Id + '&receive_id=' + receive_Id + '&sender_or_receiver=' + Sender_Or_receiver;
        console.log(Match_Id, Send_Id, receive_Id, Sender_Or_receiver, chat_url);
        this.chat_url = chat_url;
        // return chat_url;
    } catch (error) {
        this.ERROR_MESSAGE = error.message;
    }
},
async fetch_read_received_anyone_own_matches(){
    try {
        if (!this.login_id_name.id) throw new Error("login_id_name.idがありません");
        const res = await fetch(this.endpoint + '/read_received_anyone_own_matches', {method: 'POST',headers: {'Content-Type': 'application/json',},
            body: JSON.stringify({user_id: this.login_id_name.id}),
        });
        const data = await res.json(); console.log(data);
        this.all_matched = data.message;
        this.ERROR_MESSAGE = "";
    } catch (error) {
        this.ERROR_MESSAGE = error.message;
    }
},
async fetch_change_match_to_receive(Match_Id){
    try {
        // const match_id = req.body.match_id;
        const res = await fetch(this.endpoint + '/update_when_to_send_receive', {method: 'POST',headers: {'Content-Type': 'application/json',},
            body: JSON.stringify({match_id: Match_Id}),
        });
        const data = await res.json(); console.log(data);
        this.ERROR_MESSAGE = "";
    } catch (error) {
        this.ERROR_MESSAGE = error.message;
    }
},
login_as(Id_Name={id: 5, name: "a"}){
    console.log(Id_Name);
if(this.web_data){
    // this.current_user = this.web_data.message.find(user => user.user_data_id === Id_Name.id);
    // nameでフィルタ
    this.current_user = this.web_data.message.find(user => user.user_name === this.login_name);
}
this.login_id_name = Id_Name;
},
update_online_status(){
    this.selected_user_LIST[0].online_status.start = new Date().toISOString();
    this.selected_user_LIST[0].online_status.until = new Date(new Date().getTime() + 10 * 60000).toISOString();
    this.selected_user_LIST[0].online_status.on_off = "on";
},
reset_all_online_status(){
    this.user_list = this.user_list.map(user => {
        user.online_status.start = null;
        user.online_status.until = null;
        user.online_status.on_off = "off";
        return user;
    });
},
reset_selected_user_online_status(Id){
    this.user_list = this.user_list.map(user => {
        if (user.id === Id){
            user.online_status.start = null;
            user.online_status.until = null;
            user.online_status.on_off = "off";
        }
        return user;
    });
},
set_selected_user_online_status(Id){
    this.user_list = this.user_list.map(user => {
        if (user.id === Id){
            user.online_status.start = new Date().toISOString();
            user.online_status.until = new Date(new Date().getTime() + 10 * 60000).toISOString();
            user.online_status.on_off = "on";
        }
        return user;
    });
},
on_off(Id){
    this.reset_other_user_online_status(Id);
    this.set_selected_user_online_status(Id);
},
set_all_online_status(){
    this.user_list = this.user_list.map(user => {
        user.online_status.start = new Date().toISOString();
        user.online_status.until = new Date(new Date().getTime() + 10 * 60000).toISOString();
        user.online_status.on_off = "on";
        return user;
    });
},
reset_other_user_online_status(Id){
    this.user_list = this.user_list.map(user => {
        if (user.id !== Id){
            user.online_status.start = null;
            user.online_status.until = null;
            user.online_status.on_off = "off";
        }
        return user;
    });
},
list_filter(){
    this.make_LIST();
    this.selected_user_LIST = this.LIST.filter(user => user.id === this.selected_user);
    this.update_online_status();
},
make_LIST(){
    this.LIST = this.user_list.map(user => {
        return {
            name: user.name,
            online_status: user.online_status,
            id: user.id,
            weight: user.weight,
            user_type: this.user_type_list.find(user_type => user_type.id === user.user_type_list_id),
            keyword_list: user.keyword_list.map(keyword_id => this.keyword_list.find(keyword => keyword.id === keyword_id)),
        }
    });
},
exe(){
    console.log("abc");
},
to_ary(from){
    return JSON.parse(JSON.stringify(from));
},
add_keyword(){
try {
    const user = this.user_list.find(user => user.id === this.selected_user);
    if (user.keyword_list.some(keyword_id => keyword_id === this.selected_keyword)) throw new Error("すでに追加されています");
    user.keyword_list.push(this.selected_keyword);
    this.list_filter();
    this.ERROR_MESSAGE = "";
} catch (error) {
    this.ERROR_MESSAGE = error.message;
}
},
delete_keyword(keyword_id){
    try {
        console.log("delete_keyword", keyword_id);
        const user = this.user_list.find(user => user.id === this.selected_user);
        // 削除するキーワードが存在しない場合はエラースロー
        if (!user.keyword_list.some(keyword => keyword === keyword_id)) throw new Error("削除するキーワードが存在しません");
        user.keyword_list = user.keyword_list.filter(keyword => keyword !== keyword_id);
        this.list_filter();
        // 問題なく削除できた場合はERROR_MESSAGEを空にする
        this.ERROR_MESSAGE = "";
    } catch (error) {
        this.ERROR_MESSAGE = error.message;
    }
},
add_new_keyword(){
    try {
        console.log("add_new_keyword", this.new_keyword);
        // 同じキーワードがある場合は追加しない 
        // エラースローのワンライナー
        if (this.keyword_list.some(keyword => keyword.keyword === this.new_keyword)) throw new Error("すでに追加されています");
        this.keyword_list.push({
            id: this.keyword_list.length + 1,
            keyword: this.new_keyword,
        });
        this.list_filter();
        // 追加したキーワードをadd_keywordする
        // keyword_listの最後の要素が追加されたキーワード
        this.selected_keyword = this.keyword_list[this.keyword_list.length - 1].id;

        this.add_keyword();


        this.ERROR_MESSAGE = "";
    } catch (error) {
        this.ERROR_MESSAGE = error.message;
    }
},
weight_change(id){
    this.LIST = this.LIST.map(user => {
        if (user.id === id){
            // user.weightは0が下限。weightが0の場合はweightを変更しない
            user.weight > 0 ? user.weight += 1 : null;
        }
        return user;
    });

},
match_exe(){
    const match_result_online = (res) =>{
        return res.filter(user => user.online_status.on_off === "on");
    }
    const selected_user = this.user_list.find(user => user.id === this.selected_user);
    let match_result = [];
    if (selected_user.user_type_list_id === 1){
        // selected_userがcompanyの場合
        // selected_userがcompanyの場合はresultはcustomerのリスト
        const customer_list = this.user_list.filter(user => user.user_type_list_id === 2);
        for (const customer of customer_list){
            // selected_userとcustomerが共通して持っているキーワードを抽出
            const match_keyword_num = selected_user.keyword_list.filter(keyword => customer.keyword_list.some(customer_keyword => customer_keyword === keyword));
            // match_keyword_listの番号から実際のキーワードの配列を取得
            const match_keyword_list = match_keyword_num.map(keyword_id => this.keyword_list.find(keyword => keyword.id === keyword_id));

            if (match_keyword_list.length > 0){
                match_result.push({
                    customer: customer,
                    weight: customer.weight,
                    online_status: customer.online_status,
                    match_keyword_list: match_keyword_list,
                });
            }
        }
    } ;
    if (selected_user.user_type_list_id === 2){
        // selected_userがcustomerの場合
        // selected_userがcustomerの場合はresultはcompanyのリスト
        const company_list = this.user_list.filter(user => user.user_type_list_id === 1);
        for (const company of company_list){
            // selected_userとcompanyが共通して持っているキーワードを抽出
            const match_keyword_num = selected_user.keyword_list.filter(keyword => company.keyword_list.some(company_keyword => company_keyword === keyword));
            // match_keyword_listの番号から実際のキーワードの配列を取得
            const match_keyword_list = match_keyword_num.map(keyword_id => this.keyword_list.find(keyword => keyword.id === keyword_id));
            if (match_keyword_list.length > 0){
                match_result.push({
                    company: company,
                    weight: company.weight,
                    online_status: company.online_status,
                    match_keyword_list: match_keyword_list,
                });
            }
        }
    } ;
    const sort_by_weight = (res) =>{
        return match_result.sort((a, b) => {
            if (a.weight < b.weight) return 1;
            if (a.weight > b.weight) return -1;
            return 0;
        });
    }
    match_result = match_result_online(match_result);
    this.match_result = sort_by_weight(match_result);
    this.match_result = match_result;
},
start_chat(other_side_id, own_side_id){
    // other_side_id, own_side_idがnullやundefinedでない場合はchatを開始する
            // other_side_idがあるかfindする
    other_side_bool = this.LIST.find(user => user.id === other_side_id);
    own_side_bool = this.LIST.find(user => user.id === own_side_id);
    if (other_side_id && own_side_id && other_side_bool && own_side_bool){
        console.log("start_chat", other_side_id, own_side_id);

    }
    other_side_data = this.LIST.filter(user => user.id === other_side_id)[0];
    own_side_data = this.LIST.filter(user => user.id === own_side_id)[0];
    // 同じパスのclient3.htmlにget paramでJSON.stringifyされたother_side_idもしくはown_side_idを渡すリンクを作る
    // 例:http://127.0.0.1:3000/client3.html?other_side_data_str=*****
    var url = window.location.href;
    var dirname = url.substring(0, url.lastIndexOf('/'));
    // this.other_side_data_link = dirname + "/match2.html?other_side_data_str=" + JSON.stringify(other_side_data);
    this.other_side_data_link = dirname + "/match2.html?other_side_data_str=" + JSON.stringify(other_side_data) + "&own_side_data_str=" + JSON.stringify(own_side_data);
    // this.own_side_data_link = dirname + "/match2.html?own_side_data_str=" + JSON.stringify(own_side_data);
    this.own_side_data_link = dirname + "/match2.html?other_side_data_str=" + JSON.stringify(own_side_data) + "&own_side_data_str=" + JSON.stringify(other_side_data);
    // this.link_1 = dirname + "/match2.html?other_side_data_str=" + JSON.stringify(other_side_data) + "&own_side_data_str=" + JSON.stringify(own_side_data);
    // this.link_2 = dirname + "/match2.html?other_side_data_str=" + JSON.stringify(own_side_data) + "&own_side_data_str=" + JSON.stringify(other_side_data);
},
parse_url(){
    const url = new URL(window.location.href);
    const other_side_data_str = url.searchParams.get('other_side_data_str');
    const own_side_data_str = url.searchParams.get('own_side_data_str');
    if (other_side_data_str){
        console.log("other_side_data_str", other_side_data_str);
        console.log(JSON.parse(other_side_data_str));
    }
    if (own_side_data_str){
        console.log("own_side_data_str", own_side_data_str);
        console.log(JSON.parse(own_side_data_str));
    }
},
async fetch_add_user_data() {
    try {
    console.log("fetch_add_user_data");
    console.log([this.userName, this.admin_password, this.weightNum, this.userType, this.onlineOffline, this.skills]);
    // this.skillsが空の場合はall_skillsの最初の要素のidをセットする
    this.skills.length === 0 ? this.skills.push(this.all_skills[0].id) : null;

    // const [error_check_user_name, error_check_password, error_check_weight_num, error_check_user_type, error_check_offline_online, error_check_skills_id_array] =
    //     [this.userName, this.password, this.weightNum, this.userType, this.onlineOffline, this.skills].map((val) => JSON.parse(JSON.stringify(val)));
    // error_check_user_name === undefined || error_check_user_name === null || error_check_user_name.length === 0 || error_check_user_name.length > 24 || error_check_user_name.includes(' ') || error_check_user_name.includes('　') ? (()=>{throw new Error('user_nameが不正です')})() : null;
    // error_check_weight_num === undefined || error_check_weight_num === null || error_check_weight_num < 1 || error_check_weight_num > 1000 ? (()=>{throw new Error('weight_numが不正です')})() : null;
    // error_check_user_type === undefined || error_check_user_type === null || error_check_user_type !== 'company' && error_check_user_type !== 'customer' ? (()=>{throw new Error('user_typeが不正です')})() : null;
    // error_check_offline_online === undefined || error_check_offline_online === null || error_check_offline_online !== 0 && error_check_offline_online !== 1 ? (()=>{throw new Error('offline_onlineが不正です')})() : null;
    // error_check_skills_id_array === undefined || error_check_skills_id_array === null || !Array.isArray(error_check_skills_id_array) || error_check_skills_id_array.length < 1 || error_check_skills_id_array.some((num) => typeof num !== 'number' || num < 1) ? (()=>{throw new Error('skills_id_arrayが不正です')})() : null;
    const res = await fetch(this.endpoint + '/insert_user_datas', {method: 'POST',headers: {'Content-Type': 'application/json',},
        body: JSON.stringify({
            user_name: this.userName,
            admin_password: this.admin_password,
            weight_num: this.weightNum,
            user_type: this.userType,
            offline_online: this.onlineOffline,
            skills_id_array: this.skills,
        }),
    });
    const data = await res.json(); console.log(data);
    // new_user_id: new_user_id,
    // password: password_24_char,
    console.log(data);
    this.new_user_id = data.new_user_id;
    this.new_password = data.password_24_char;
    this.ERROR_MESSAGE = "";
    this.make_qr_code_with_id_and_password();
    } catch (error) {
        this.ERROR_MESSAGE = error.message;
    }
},
async fetch_add_skill_str() {
    try {
        console.log(JSON.stringify({skill: this.skill_str}));
        this.skill_str === undefined || this.skill_str === null || this.skill_str.length === 0 || this.skill_str.length > 24 || this.skill_str.includes(' ') || this.skill_str.includes('　') ? (()=>{throw new Error('skillが不正です')})() : null;
        const res = await fetch(this.endpoint + '/insert_skills', {method: 'POST',headers: {'Content-Type': 'application/json',},
            body: JSON.stringify({ skill: this.skill_str,}),
        });
        const data = await res.json(); console.log(data);
        // insertに成功したらthis.skill_strに''をセットする
        await this.web_data_set_up();
    } catch (error) {
        this.ERROR_MESSAGE = error.message;
    }
},
async fetch_read_skills() {
    try {
        const res = await fetch(this.endpoint + '/read_skills', {method: 'GET',headers: {'Content-Type': 'application/json',},
        });
        const data = await res.json(); console.log(data);
        // data.messageが空の配列の場合は早期リターン
        if (data.message.length === 0) return;
        this.all_skills = data.message;
        // this.all_skillsの配列をdecodeuricomponentする
        this.all_skills = this.all_skills.map(Skill => {
            Skill.skill = decodeURIComponent(Skill.skill);
            return Skill;
        });

        this.all_skills = this.all_skills.sort((a, b) => a.id - b.id).reverse();
        this.ERROR_MESSAGE = "";
    } catch (error) {
        this.ERROR_MESSAGE = error.message;
    }
},
async fetch_read_user_datas_skills() {
    try {
        const res = await fetch(this.endpoint + '/read_user_datas_skills', {method: 'GET',headers: {'Content-Type': 'application/json',},
        });
        const data = await res.json(); console.log(data);

        // dataのフォーマットをhtml用に変換する
        // { "result": "success", "status": 200, "message": [ { "user_data_id": 1, "user_name": "a", "weight_num": 1, "user_type": "company", "offline_online": 0, "skills_id_array": "1,2,3", "skills": [ { "id": 1, "skill": "SKILL_A", "created_at": "2024-03-22T09:24:09.697Z", "updated_at": "2024-03-22T09:24:09.697Z" }, { "id": 2, "skill": "skill_b", "created_at": "2024-03-22T09:24:22.458Z", "updated_at": "2024-03-22T09:24:22.458Z" }, { "id": 3, "skill": "skill_c", "created_at": "2024-03-22T09:24:27.064Z", "updated_at": "2024-03-22T09:24:27.064Z" } ] } ] }
        this.web_data = data;
        this.ERROR_MESSAGE = "";
    } catch (error) {
        this.ERROR_MESSAGE = error.message;
    }
},
async fetch_update_user_datas_online_offline(Id) {
    try {
        console.log(JSON.stringify({user_data_id: Id}));
        const res = await fetch(this.endpoint + '/update_user_datas_online_offline', {method: 'POST',headers: {'Content-Type': 'application/json',},
            body: JSON.stringify({user_data_id: Id,
                password: this.password
            }),
        });
        const data = await res.json(); console.log(data);
        this.ERROR_MESSAGE = "";
        await this.fetch_read_skills();
        await this.fetch_read_user_datas_skills();
        await this.login_as();
    } catch (error) {
        this.ERROR_MESSAGE = error.message;
    }
},
async fetch_update_user_datas_weight_num(Id, Weight_Num, Plus_Minus="+") {
    try {
        console.log(JSON.stringify({user_data_id: Id, weight_num: Weight_Num}));
        const Plus_Minus_Num = Plus_Minus === "+" ? 1 : -1;
        const res = await fetch(this.endpoint + '/update_user_datas_weight_num', {method: 'POST',headers: {'Content-Type': 'application/json',},
            body: JSON.stringify({user_data_id: Id, weight_num: Weight_Num+(Plus_Minus_Num) }),
        });
        const data = await res.json(); console.log(data);
        this.ERROR_MESSAGE = "";
    } catch (error) {
        this.ERROR_MESSAGE = error.message;
    }
},
async fetch_update_user_datas_skills_id_array(Id, Skill_Id, Password) {
    try {
        console.log
        (JSON.stringify({user_data_id: Id, skill_id: Skill_Id}));
        const res = await fetch(this.endpoint + '/update_user_datas_skills_id_array', {method: 'POST',headers: {'Content-Type': 'application/json',},
            body: JSON.stringify({user_data_id: Id, skill_id: Skill_Id,
                password: Password
            }),
        });
        const data = await res.json(); console.log(data);
        this.ERROR_MESSAGE = "";
        await this.fetch_read_skills();
        await this.fetch_read_user_datas_skills();
        await this.login_as();
    } catch (error) {
        this.ERROR_MESSAGE = error.message;
    }
},
async fetch_delete_user_datas_skills_id_array(Id, Skill_Id) {
    try {
        console.log(JSON.stringify({user_data_id: Id, skill_id: Skill_Id}));
        const res = await fetch(this.endpoint + '/delete_user_datas_skills_id_array', {method: 'POST',headers: {'Content-Type': 'application/json',},
            body: JSON.stringify({user_data_id: Id, skill_id: Skill_Id,
                password: this.password
            }),
        });
        const data = await res.json(); console.log(data);
        this.ERROR_MESSAGE = "";
        await this.fetch_read_skills();
        await this.fetch_read_user_datas_skills();
        await this.login_as();
    } catch (error) {
        this.ERROR_MESSAGE = error.message;
    }
},
async fetch_delete_skills(Skill_Id) {
    try {
        console.log(JSON.stringify({skill_id: Skill_Id}));
        const res = await fetch(this.endpoint + '/delete_skills', {method: 'POST',headers: {'Content-Type': 'application/json',},
            body: JSON.stringify({skill_id: Skill_Id}),
        });
        const data = await res.json(); console.log(data);
        this.ERROR_MESSAGE = "";
    } catch (error) {
        this.ERROR_MESSAGE = error.message;
    }
},
async fetch_read_1_who_find_n_companies_or_n_customers_by_1_skill(Skill_Id) {
try {
    const test_user_data_id = this.login_id_name.id;
    if(Skill_Id === undefined || Skill_Id === null || Skill_Id === 0 || typeof Skill_Id !== 'number') throw new Error('skill_idが不正です');
    const skill_id = Skill_Id;
    const res = await fetch(this.endpoint + '/read_1_who_find_n_companies_or_n_customers_by_1_skill', {method: 'POST',headers: {'Content-Type': 'application/json',},
            body: JSON.stringify({user_data_id: test_user_data_id, skill_id: skill_id}),
    });
    const data = await res.json(); console.log(data);
    data.status !== 200 ? (()=>{throw new Error(data.message)})() : null;
    this.matched_data_ary = data;
    this.matched_data_ary.message = this.matched_data_ary.message.map(user => {
        if(user.skills_id_array){
            user.skills = decodeURIComponent(user.skills_id_array).split(",").map(V=>Number(V)).map(skill => {
                return this.all_skills.find(all_skill => all_skill.id === skill);
            });
        }
        return user;
    });
    this.match_url_array = [];
    this.matched_data_ary.message.forEach(matched_data=>{
        const local_url = 'http://127.0.0.1:3000';
        this.match_url_array.push(
            local_url + '/client6.html'
                + '?own=' + JSON.stringify(this.web_data.message[0])
                + '&another=' + JSON.stringify(matched_data)
                + '&login_id_name=' + JSON.stringify(this.login_id_name)
        );
    });
    this.ERROR_MESSAGE = "";
} catch (error) {
    this.ERROR_MESSAGE = error.message;
}
},
async fetch_insert_matches(When_To_Send="match", Match_User_Id) {
try {
    // this.login_id_name.idがundefinedやnullや0や文字列や配列の場合はエラースロー
    if(this.login_id_name.id === undefined || this.login_id_name.id === null || this.login_id_name.id === 0 || typeof this.login_id_name.id !== 'number') throw new Error('login_id_name.idが不正です');
    const send_id_of_user_data_id = this.login_id_name.id;
    const res = await fetch(this.endpoint + '/insert_match', {method: 'POST',headers: {'Content-Type': 'application/json',},
        body: JSON.stringify({
            send_id: send_id_of_user_data_id,
            receive_id: Match_User_Id,
            when_to_send: When_To_Send
        }),
    });
    this.ERROR_MESSAGE = "";
} catch (error) {
    this.ERROR_MESSAGE = error.message;
}
},
async fetch_delete_matches() { // delete_matches // 開発用のAPIエンドポイント。あとで削除する。// sqlite> DELETE FROM matches;のapp.get
try {
    const res = await fetch(this.endpoint + '/delete_matches', {method: 'POST',headers: {'Content-Type': 'application/json',},
        body: null,
    });
    this.ERROR_MESSAGE = "";
} catch (error) {
    this.ERROR_MESSAGE = error.message;
}
},


toggle_show_full_url() {
      this.show_full_url = !this.show_full_url;
},
async fetch_read_receive_matches(){
try {
    const res = await fetch(this.endpoint + '/read_receive_matches', {method: 'POST',headers: {'Content-Type': 'application/json',},
            body: JSON.stringify({user_id: this.login_id_name.id}),
        });
    const data = await res.json(); console.log(data);
    // const data = await res.json(); console.log(data);
    this.receive_matched = data.message;
    this.ERROR_MESSAGE = "";
} catch (error) {
    this.ERROR_MESSAGE = error.message;
}
},
// // send_idが自分のuser_data_idでreceiveの状態のmatchを取得するエンドポイントをfetchする関数
async fetch_read_send_matches(){
try {
    console.log(this.login_id_name.id);
    const res = await fetch(this.endpoint + '/read_send_matches', {method: 'POST',headers: {'Content-Type': 'application/json',},
            body: JSON.stringify({user_id: this.login_id_name.id}),
        });
    const data = await res.json(); console.log(data);
    // const data = await res.json(); console.log(data);
    this.send_matched = data.message;
    this.ERROR_MESSAGE = "";
} catch (error) {
    this.ERROR_MESSAGE = error.message;
}
},
// read_matchesをfetchする関数
async fetch_read_matches(){
    const response = await fetch(this.endpoint + '/read_matches');
    const data = await response.json();
    if(data.message){
        // console.log("hoge")
        console.log(data);
        this.matched = data.message;
    }
    return data;
},

async show_selected_skill_id(User_Id){
    console.log(User_Id, this.selected_skill_id);
    await this.fetch_update_user_datas_skills_id_array(User_Id, this.selected_skill_id, this.password);
},



}}).mount('#app');
</script>
</html>